
.icon-chat:before { content: '\e800'; } /* '' */
.icon-up-arrow:before { content: '\e801'; } /* '' */
.icon-doc-download:before { content: '\e802'; } /* '' */
.icon-email:before { content: '\e803'; } /* '' */
.icon-fax:before { content: '\e804'; } /* '' */
.icon-flag:before { content: '\e805'; } /* '' */
.icon-map:before { content: '\e806'; } /* '' */
.icon-news:before { content: '\e807'; } /* '' */
.icon-phone-call:before { content: '\e808'; } /* '' */
.icon-printer:before { content: '\e809'; } /* '' */
.icon-search:before { content: '\e80a'; } /* '' */
.icon-close:before { content: '\e80b'; } /* '' */
.icon-vk:before { content: '\e80c'; } /* '' */
.icon-fb:before { content: '\e80d'; } /* '' */