@media screen and (max-width:1200px)
	.header
		.bottom-header
			.super-menu
				.super-menu-title
					width: 100%
					margin-bottom: 15px
				.d_flex
					display: block
				.col1
					&:before
						display: none
					width: 100%
					ul
						li
							display: inline-block
							margin-right: 20px
				.col2
					&:before
						display: none
					width: 100%
					ul
						column-count: 1
						li
							display: inline-block
							margin-right: 20px
				.col3
					&:before
						display: none
					width: 100%
					ul
						li
							display: inline-block
							margin-right: 20px
				.col4
					&:before
						display: none
					width: 100%
					ul
						li
							display: inline-block
							margin-right: 20px

	.scroll-down
		display: none
	.header .top-nav-list li
		margin-right: 4px
		a
			padding: 5px 18px
	.header .middle-header .logo
		padding-left: 37px
	.header .middle-header .logo
		.company-name
			font-size: 16px
		.company-desc
			font-size: 14px
	.header .middle-header-info .bg-phone
		display: none
	.header .middle-header-info a.header-phone
		font-size: 18px
	.header .middle-header-info
		padding-left: 12px
	.header .middle-header-info.last
		padding-left: 15px
	.header .middle-header .logo img
		height: 40px
		top: -3px
	.header .msMiniCart
		padding-left: 58px
	.header .msMiniCart .ms2_total_count
		width: 22px
		height: 22px
		line-height: 22px
	.header .form-callback button
		font-size: 13px
	.header .bottom-header .form-search:after
		display: none
	.header .bottom-header .main-nav li a
		padding: 16px 37px
	.sec-brands .jsfb
		justify-content: center
		padding-right: 16px
	.sec-brands .jsfb .brand-wrap
		flex: 0 0 calc(20% - 16px)
		margin-left: 16px
	.sec-hits .jsfb
		justify-content: center
		padding-right: 16px
	.sec-hits .jsfb .product-item
		flex: 0 0 calc(33% - 16px)
		margin-left: 16px
	.sec-advantages .jsfs
		padding-right: 16px
	.sec-advantages .jsfs .advantage-item
		flex: 0 0 calc(33% - 16px)
		margin-left: 16px
	.sec-consult .get-consult
		text-align: center
		padding-bottom: 13px
		line-height: 1.2
		font-size: 30px
		span
			color: #fff
			font-size: 30px
	.sec-text
		padding-right: 15px
		padding-left: 15px
		padding-top: 40px
		padding-bottom: 40px
		.image-wrap
			display: none
		.text-content
			width: auto
	.sec-title
		margin-top: 0
		a
			position: relative
			display: block
			top: auto
			right: auto
			margin: 0 auto
			margin-bottom: 20px
	.sec-gallery
		margin-bottom: 30px
	.sec-articles .h2
		margin-top: 15px
		margin-bottom: 0
		padding-bottom: 10px
	.sec-articles .sec-title a
		margin-bottom: 30px
	.sec-partners .partners-item
		font-size: 14px
		.par-title
			&:before
				display: none
		br
			display: none
		&:nth-child(1)
			width: 33%
		&:nth-child(2)
			width: 33%
		&:nth-child(3)
			width: 33%
		&:nth-child(4)
			width: 33%
		&:nth-child(5)
			width: 100%
			order: 6;
		&:nth-child(6)
			width: 33%
	.form-zayavka:before
		display: none
	.form-zayavka
		width: 100%
	.sec-partners .jsfs
		justify-content: center
	.sec-partners .partners-item .par-title
		text-align: center
	.partners-item .img-wrap div
		margin: 0 auto
	.partners-item
		padding-right: 15px
		padding-left: 15px
	.sec-partners .partners-item
		margin-bottom: 15px
	.partners-item p
		text-align: center
	.footer
		.jsfs
			justify-content: center
		.footer-one-col,
		.footer-two-col,
		.footer-three-col,
		.footer-four-col
			width: 100%
			margin-right: 0
			padding-right: 0
			margin-bottom: 30px
			text-align: center
			&:before
				display: none
	.sec-callback-title
		font-size: 42px
	.sec-callback .form-callback
		margin-bottom: 40px
	.footer
		padding-right: 20px
		padding-left: 20px
		padding-bottom: 0
		.footer-menu
			&.two-column
				li
					&:nth-child(2n)
						position: relative
						margin-left: 0
						margin-top: 0
			display: block
			li
				display: inline-block
				margin-right: 30px
		.site-create
			text-align: center
			.bg-badabadam
				margin: 0 auto
	.footer .footer-one-col a.logo
		margin: 0 auto
	ul.contact-list
		width: 280px
		margin: 0 auto
	.footer .footer-heading
		display: inline-block
	a.btn-toright
		position: relative
		top: auto
		left: auto
		margin: 0 auto
		margin-bottom: 20px
	.sec-articles .sec-title
		margin-bottom: 15px
	.sec-gallery a.btn-toright
		margin-bottom: 60px
		margin-top: -20px
	.sec-stock
		padding-top: 0
		background-image: none
		background-color: #eff3f7
		.stock
			&-left
				width: 100%
				span
					display: inline-block
			&-right
				display: none
			&-center
				width: 100%
	.sec-contact-callback
		.form-contact
			background-color: #fff
			padding: 30px 30px
			border-radius: 10px
	.header .bottom-header .main-nav li
		margin-right: 0
	.page-text
		.h2
			font-size: 28px
			padding-right: 0
			padding-left: 0
		.sec-text,
		.sec-brands
			.h2
				text-align: left
		.sec-brands,
		.sec-brands.four-col
			.brand-wrap
				width: 182px
				margin-right: 15px
				.brand-item
					margin-right: 0
				&:nth-child(6n)
					margin-right: 15px
				&:nth-child(5n)
					margin-right: 15px
	.page-text .sec-brands.four-col .jsfc
		padding-left: 0
		padding-right: 0
	.sec-montparams .h2:before,
	.sec-montparams .h2:after
		display: none
	.sec-montparams
		.montparams-container
			justify-content: center
			text-align: center
			.montparams-item
				padding-right: 10px
				padding-left: 10px
				br
					display: none
				.img-wrap
					div
						left: 50%
						transform: translate(-50%,-50%)
			.montparams-item:nth-child(1),
			.montparams-item:nth-child(2),
			.montparams-item:nth-child(3),
			.montparams-item:nth-child(4)
				width: 33%
	.sec-step-montage
		.step-montage-container
			.step-montage-item br
				display: none
			.step-montage-item:nth-child(1),
			.step-montage-item:nth-child(2)
				.img-wrap div:before
					width: 170px
					right: -210px
			.step-montage-item:nth-child(3)
				.img-wrap div:before
					right: -135px
			.step-montage-item:nth-child(4),
			.step-montage-item:nth-child(5)
				.img-wrap div:before
					width: 170px
					right: -210px
	.page-text.page-montage .sec-brands .h2
		text-align: center
	.sec-views
		.views-container
			justify-content: center
			.views-item
				width: 40%
				margin-left: 10px
				margin-right: 10px
				margin-bottom: 20px
				br
					display: none
	.sec-сolodec
		.сolodec-container
			.сolodec-item
				width: 100% !important
				margin-right: 0 !important
				margin-left: 0 !important
				margin-bottom: 20px
				&:last-child
					margin-bottom: 0
				.сolodec-desc
					height: auto
	.sec-work-scheme
		.step-scheme-container
			.step-scheme-item br
				display: none
			.step-scheme-item:nth-child(1),
			.step-scheme-item:nth-child(2)
				.img-wrap div:before
					width: 200px
					right: auto
					left: 89px
					background-size: auto 100%
					background-position: center right
			.step-scheme-item:nth-child(3)
				.img-wrap div:before
					right: auto
					left: 89px
					width: 230px
					background-size: auto 100%
					background-position: center right
			.step-scheme-item:nth-child(4),
			.step-scheme-item:nth-child(5)
				.img-wrap div:before
					width: 200px
					right: auto
					left: 89px
					background-size: auto 100%
					background-position: center right
	.sec-other-products
		.other-products-container
			.other-products-item
				width: calc(50% - 20px)
	.page-text.page-catalog .sec-text .h2,
	.page-text.page-catalog .sec-brands .h2
		text-align: center
		padding-left: 15px
		padding-right: 15px
	.cart-container
		.left-column
			padding-left: 15px
			padding-right: 15px
			margin-right: 0
			width: 100%
			order: 2
			.filter-list-wrap
				.filter-list
					column-count: 4
	.stock-block
		display: none
	.page-card
		.sec-stock
			display: block
			margin-top: 15px
	.page-category
		.sec-stock
			display: block
			margin-top: 15px
	.form-call-spec
		display: none
	.cart-container
		.right-column
			width: 100%
	.add-product-modal
		padding-left: 30px
		padding-right: 30px
		.cart-item
			.prod-desc
				padding-left: 10px
				padding-right: 10px
				width: 405px
			.prod-actions
				width: 200px
	.quick-view-modal
		padding-left: 15px
		padding-right: 15px

@media screen and (min-width:992px) and (max-width:1200px)
	.page-cart .cart-item
		.prod-desc
			border-right: 0
		.prod-actions
			width: 100%
			padding-top: 10px
			form.form-change-count
				display: inline-block
				margin-top: 0
				vertical-align: middle
				margin-top: 0
				float: left
				margin-left: 53px
			.price
				display: inline-block
				vertical-align: middle
				margin-top: 0
				margin-right: 80px
				float: right
				margin-left: 20px
				margin-top: -2px
				font-size: 24px
			.product-montage
				display: inline-block
				vertical-align: middle
				margin-top: 0
				float: right
				margin-top: 8px
			form.form-delete
				top: 10px
				margin-top: 0
				right: 0
				margin-right: 20px
	.quick-view-modal
		.product-card-top-info
			.product-info
				.roww
					.btn-buy
						margin-right: 10px
						padding-left: 30px
						padding-right: 30px
					.btn-rassrochka
						padding-left: 30px
						padding-right: 30px
				.form-fast-order
					input
						width: 150px
						font-size: 16px
					.btn
						padding-left: 12px
						padding-right: 12px

@media screen and (max-width:992px)
	.sec-advantages
		padding-right: 15px
		padding-left: 15px
	.h2:before,.h2:after
		display: none
	.sec-advantages .advantage-item
		font-size: 16px
		br
			display: none
	.header .top-nav
		display: none
	.header .middle-header-info
		padding-left: 25px
	.header .middle-header-info.last
		padding-left: 0
		margin-left: -43px
	.header .menu-button
		display: block
	.header .middle-header
		padding-top: 25px
	.header .top-nav-list li
		margin-bottom: 10px
	.header .top-nav
		padding-bottom: 0
		padding-left: 15px
		padding-right: 15px
	.header .msMiniCart
		margin-top: 20px
		margin-left: -15px
	.header .form-callback
		margin-top: 25px
	.header .form-callback input
		width: 50%
		float: left
	.header .form-callback button
		width: 50%
		margin-top: 0
		float: left
		font-size: 14px
	.header .bottom-header .main-nav li a
		padding: 16px 21px
		font-size: 15px
	.sec-brands .jsfb .brand-wrap
		flex: 0 0 calc(25% - 16px)
		margin-left: 16px
	.form-consult input
		width: 28%
		margin-right: 1%
	.form-consult button
		padding: 0
		width: 40%
		margin-top: 0
		font-size: 18px
	.form-consult
		padding-right: 19px
		padding-left: 19px
	.sec-articles .article-item
		width: 48%
	.sec-callback .callback-wrap
		padding-left: 15px
		padding-right: 15px
	.form-zayavka .middle-header-info
		padding-left: 65px
		margin-bottom: 30px
		margin-right: 20px
	.form-zayavka .middle-header-info.last
		margin-right: 0
	.scroll-top
		right: 20px

	.sec-contact-callback
		.form-contact
			textarea
				margin: 0
			input
				margin-top: 19px
				margin-bottom: 19px
	.contact-list
		margin-top: 20px

	.page-cart .cart-item
		position: relative
		.prod-image
			margin-left: auto
			margin-right: auto
			.image-wrap
				margin-left: auto
				margin-right: auto
		.prod-desc
			width: 100%
			.product-options li:nth-child(4),
			.product-options li:nth-child(5)
				position: relative
				top: auto
				left: auto
		.prod-desc
			border-right: 0
		.prod-actions
			position: static
			width: 100%
			padding-top: 10px
			margin-bottom: 20px
	.page-text
		.sec-brands,
		.sec-brands.four-col
			.brand-wrap
				width: 239px
				margin-right: 15px
				&:nth-child(5n)
					margin-right: 15px
				&:nth-child(4n)
					margin-right: 15px
				&:nth-child(3n)
					margin-right: 0
				&:last-child
					margin-right: 0
	.page-text .sec-brands.four-col .jsfc
		padding-left: 0
		padding-right: 0
	.sec-dropdown-filters
		.dropdown-filter-container
			.filter-item
				flex: 0 1 calc(33% - 14px)
				height: 140px
				margin-right: 7px
				margin-left: 7px
	.sec-step-montage
		.step-montage-container
			.step-montage-item
				width: 50%
				padding-left: 15px
				padding-right: 15px
			.step-montage-item:nth-child(1),
			.step-montage-item:nth-child(2),
			.step-montage-item:nth-child(3),
			.step-montage-item:nth-child(4),
			.step-montage-item:nth-child(5),
			.step-montage-item:nth-child(6)
				.img-wrap div:before
					display: none
			.step-montage-item:nth-child(1)
				order: 1
			.step-montage-item:nth-child(2)
				order: 2
			.step-montage-item:nth-child(3)
				order: 3
			.step-montage-item:nth-child(4)
				order: 6
			.step-montage-item:nth-child(5)
				order: 5
			.step-montage-item:nth-child(6)
				order: 4
	.sec-montparams
		.montparams-container
			.montparams-item
				padding-right: 15px
				padding-left: 15px
				width: 50% !important
	.sec-types
		.type-otopl-wrap
			.type-otopl-item
				padding-bottom: 15px
				.img-col
					width: 100%
					.img-wrap
						max-width: 360px
						margin-right: auto
						margin-left: auto
						border-radius: 15px
						img
							border-radius: 10px
				.otopl-desc
					width: 100%
					padding-left: 15px
					padding-right: 15px
					padding-top: 15px
					text-align: center
	.sec-views
		.views-container
			justify-content: center
			.views-item
				width: 45%
				margin-left: 8px
				margin-right: 8px
				margin-bottom: 16px
	.sec-skva
		.type-skva-wrap
			.type-skva-item
				.img-col
					width: 100%
					margin-bottom: 15px
					.img-wrap
						width: auto
				.skva-desc
					width: 100%
	.sec-work-scheme
		.step-scheme-container
			text-align: center
			.step-scheme-item
				width: 50%
				padding-left: 15px
				padding-right: 15px
				.img-wrap
					width: 100%
					div
						position: absolute
						top: 50%
						left: 50%
						transform: translate(-50%,-50%)
			.step-scheme-item:nth-child(1),
			.step-scheme-item:nth-child(2),
			.step-scheme-item:nth-child(3),
			.step-scheme-item:nth-child(4),
			.step-scheme-item:nth-child(5),
			.step-scheme-item:nth-child(6)
				.img-wrap div:before
					display: none
			.step-scheme-item:nth-child(1)
				order: 1
			.step-scheme-item:nth-child(2)
				order: 2
			.step-scheme-item:nth-child(3)
				order: 3
			.step-scheme-item:nth-child(4)
				order: 6
			.step-scheme-item:nth-child(5)
				order: 5
			.step-scheme-item:nth-child(6)
				order: 4
	.product-card-top-info
		.product-slider
			width: 100%
			margin-right: 0
		.product-info
			width: 100%
	.product-card-middle-info
		.middle-info-item
			width: 33.33%
			margin-bottom: 20px
	.product-card-bottom-info
		.tabs li
			width: 50%
			border-right: none
	.category-container
		.product-item
			width: calc(33.33% - 10px)
	.category-container
		.product-item-list
			.prod-desc
				width: 270px
				padding-left: 10px
				padding-right: 10px
				.product-options li
					position: relative !important
					top: auto
					left: auto
	.add-product-modal
		.cart-item
			.prod-image
				width: 100%
				.image-wrap
					width: 230px
					margin-left: auto
					margin-right: auto
			.prod-desc
				padding-left: 15px
				padding-right: 15px
				width: 70%
			.prod-actions
				width: 30%
	.add-product-modal
		.well-block
			.price
				display: block
				margin-top: 5px
				margin-bottom: 10px
			a.btn
				margin-left: 5px
				margin-right: 5px
				padding-left: 10px
				padding-right: 10px

@media screen and (max-width:800px)
	.sec-stock
		.stock-center
			height: auto
			font-size: 36px
			line-height: 1.2
			margin-top: 20px
			padding-right: 15px
			padding-left: 15px
		.stock-list
			font-size: 0
			li
				display: block
				margin-bottom: 5px
				span
					margin-right: 0
					font-size: 16px

@media screen and (max-width:768px)
	.sec-callback .form-callback
		width: 100%
		height: auto
	.sec-callback .form-callback button
		max-width: 99999px
	.sec-callback .form-callback input
		width: 100%
	.header .middle-header
		padding: 15px
	.header .middle-header-info
		padding-left: 0
	.header .middle-header-info
		margin-top: 20px
		margin-bottom: 0px
		margin-left: 0
	.header .middle-header-info.last
		margin-left: 10%
	.header .form-callback button
		font-size: 13px
	.header .top-nav-list
		font-size: 14px
	.header .top-nav-list li,.header .top-nav-list li:last-child
		display: block
		width: 190px
		margin-right: auto
		margin-left: auto
	.header .msMiniCart
		margin-left: 0px
		float: right
	.header .msMiniCart span
		font-size: 14px
	.bottom-header
		padding-right: 15px
		padding-left: 15px
	.header .bottom-header .main-nav li
		display: block
		text-align: center
	.header .bottom-header .main-nav li:before
		display: none
	.header .bottom-header .main-nav li a
		padding-top: 9px
		padding-bottom: 9px
	.bottom-header .pr0
		padding: 0
	.sec-brands .jsfb .brand-wrap
		flex: 0 0 calc(33% - 16px)
		margin-left: 16px
	.sec-hits .jsfb .product-item
		flex: 0 0 calc(50% - 16px)
		margin-left: 16px	
	.form-consult
		margin-bottom: 30px
		input
			width: 48%
			margin-right: 2%
			margin-bottom: 15px
			&:nth-child(2)
				margin-right: 0
	.form-consult button
		width: 100%
	.form-consult
		padding-top: 15px
		padding-bottom: 15px
	.pl25
		padding: 0
	.sec-consult
		padding-right: 15px
		padding-left: 15px
	.sec-consult .p0
		padding: 0 15px
	.sec-partners .partners-item
		&:nth-child(1)
			width: 50%
		&:nth-child(2)
			width: 50%
		&:nth-child(3)
			width: 50%
		&:nth-child(4)
			width: 50%
		&:nth-child(5)
			width: 100%
			order: 6;
		&:nth-child(6)
			width: 50%

	.sec-contact-callback
		.form-contact
			textarea
				height: 100px
				resize: auto
			input
				margin-top: 8px
				margin-bottom: 8px
			button
				margin-top: 8px
	.sec-breadcrumbs
		padding-right: 15px
		padding-left: 15px

	.contact-list
		.contact-item
			height: 100px
			.txt
				font-size: 16px
				br
					display: none
	#map
		height: 300px
	.page-cart .cart
		padding-left: 15px
		padding-right: 70px
	.header
		.bottom-header
			.super-menu
				left: 0
				right: 0
				top: 46px
				padding-top: 0
				padding-right: 0
				padding-left: 0	
	.page-text
		.sec-text
			padding-bottom: 0
			padding-right: 0
			padding-left: 0
		.sec-brands,
		.sec-brands.four-col
			.brand-heading
				padding-right: 15px
				padding-left: 15px
				margin-top: 0
				border-radius: 0
				border: none !important
			.d_flex
				padding-right: 15px
				padding-left: 15px
	.page-text
		.sec-brands,
		.sec-brands.four-col
			.d_flex
				padding-right: 7px
				padding-left: 7px
			.brand-wrap
				width: calc(50% - 14px)
				margin-right: 7px !important
				margin-left: 7px !important
	.sec-dropdown-filters
		.dropdown-filter-container
			padding-right: 15px
			padding-left: 15px
			.filter-item
				flex: 0 1 calc(50% - 30px)
				height: 140px
				margin-right: 15px
				margin-left: 15px
	.sec-monprice .tables-wrap
		padding-right: 15px
		padding-left: 15px
	.separator-sec
		margin-top: 0
	.sec-views
		.views-container
			justify-content: center
			.views-item
				width: 70%
				margin-left: 0
				margin-right: 0
				margin-bottom: 15px
	.cart-container
		.left-column
			.filter-list-wrap
				.filter-list
					column-count: 2
	.page-card .sec-breadcrumbs
		padding-left: 15px
		padding-right: 15px
	.product-card,
	.sec-relation-products
		padding-left: 15px
		padding-right: 15px
	.product-card-middle-info
		.middle-info-item
			width: 50%
	.page-card
		.table-monprice tbody tr td
			line-height: 1.4
		.print-btn
			right: 15px	
	.product-card-bottom-info
		.tab-content
			padding-left: 5px
			padding-right: 5px
	.sec-reviews
		.reviews-item-image
			display: none
		.reviews-item-content
			width: 100%
			padding-left: 20px
	.product-card
		.sec-contact-callback
			padding-bottom: 0
			.form-contact
				border-radius: 0 0 10px 10px
	.category-container
		margin-right: 0
		padding-left: 15px
		padding-right: 15px
		.product-item
			width: calc(50% - 10px)
			&:nth-child(2n)
				margin-right: 0
	.category-filters
		padding-left: 15px
		padding-right: 15px
		.right
			display: block
			float: none
			margin-top: 10px
	.page-category
		.print-btn
			right: 15px
	.category-filters .right
		position: relative
		.views
			position: absolute
			top: -37px
			right: 0
	.page-category
		.pagination
			padding-left: 15px
			padding-right: 15px
	.category-container
		.product-item-list
			.prod-desc
				width: 50%
				border-right: 0
			.prod-image
				width: 100%
				.image-wrap
					width: 230px
					margin-left: auto
					margin-right: auto
			.prod-actions
				width: 50%
				.price
					font-size: 20px
				form.form-order-item-list
					width: 85%
	.add-product-modal
		padding-left: 10px
		padding-right: 10px
		.cart-item
			.prod-image
				width: 100%
				.image-wrap
					width: 230px
					margin-left: auto
					margin-right: auto
			.prod-desc
				width: 100%
			.prod-actions
				width: 100%
				.product-montage
					margin-bottom: 15px

@media screen and (max-width:650px)
	.product-card-bottom-info
		.tabs li
			width: 100%

@media screen and (max-width:620px)
	.sec-callback-title
		font-size: 38px
		text-align: center
	.sec-callback .form-callback input,
	.sec-callback .form-callback button
		margin-top: 15px
	.sec-articles .jsfb
		justify-content: center

	.sec-articles .article-item
		width: auto
	.sec-brands .jsfb .brand-wrap
		flex: 0 0 calc(50% - 16px)
		margin-left: 16px
	.sec-advantages .jsfs .advantage-item
		flex: 0 0 calc(50% - 16px)
		margin-left: 16px;
		text-align: center
		.img-wrap div
			margin: 0 auto
	.sec-partners .partners-item
		&:nth-child(1)
			width: 100%
		&:nth-child(2)
			width: 100%
		&:nth-child(3)
			width: 100%
		&:nth-child(4)
			width: 100%
		&:nth-child(5)
			width: 100%
			order: 6;
		&:nth-child(6)
			width: 100%	
	.form-zayavka .middle-header-info,
	.form-zayavka .middle-header-info.last
		padding-left: 0
		width: 47%
		text-align: center
	.form-zayavka .aic
		justify-content: center
	.form-zayavka .middle-header-info .bg-phone
		display: none
	.form-zayavka
		padding-right: 15px
		padding-left: 15px
	.form-zayavka .middle-header-small .bg-time, .form-zayavka .middle-header-small .bg-letter
		position: relative
		display: inline-block
		vertical-align: bottom
	.form-zayavka .middle-header-info.last .middle-header-small .bg-letter
		position: relative
		display: inline-block
		vertical-align: top
	.form-zayavka .middle-header-small
		padding-left: 0
	.sec-partners .partners-item:nth-child(5)
		padding-right: 30px
		padding-left: 30px
	.sec-montparams
		padding-right: 15px
		padding-left: 15px
		.montparams-container
			.montparams-item
				padding-right: 0
				padding-left: 0
				width: 100% !important
	.sec-step-montage
		padding-right: 15px
		padding-left: 15px
		.step-montage-container
			.step-montage-item
				padding-right: 0
				padding-left: 0
				width: 100% !important
	.sec-work-scheme
		padding-right: 15px
		padding-left: 15px
		.step-scheme-container
			.step-scheme-item
				padding-right: 0
				padding-left: 0
				width: 100% !important
	.sec-other-products
		.other-products-container
			.other-products-item
				width: 100%
				margin-left: 0
				margin-right: 0
				.other-products-item-title
					min-height: auto
	.category-container
		.product-item
			width: 100%
			margin-right: 0
	.category-container
		.product-item-list
			.prod-desc
				width: 100%
			.prod-actions
				width: 100%
				padding-top: 0
				form.form-order-item-list
					width: 100%
					padding-left: 10px
					padding-right: 10px
				.product-montage
					margin-bottom: 15px


@media screen and (max-width:530px)
	.sec-hits .jsfb .product-item
		flex: 0 0 calc(70% - 16px)
		margin-left: 16px
	.form-zayavka .middle-header-info,
	.form-zayavka .middle-header-info.last
		padding-left: 0
		width: 100%
		margin-right: 0
	.form-zayavka form input,
	.form-zayavka form button
		width: 220px
		display: block
	.form-zayavka form button
		margin-top: -3px
	.add-product-modal
		.cart-item
			.prod-actions
				padding-top: 0
			.prod-desc
				.product-options
					li
						position: relative !important
						top: auto !important
						left: auto !important
		.title
			font-size: 24px
			line-height: 1.2
			padding-top: 10px

@media screen and (max-width:620px) and (min-width:480px)
	.msMiniCart-wrap
		position: absolute
		top: -20px
		left: 248px	
	.header .middle-header-info
		margin-left: 59%
	.header .middle-header-info.last
		margin-left: 59%
	.middle-header-info
		width: 150%
@media screen and (max-width:480px)
	.scroll-top
		width: 60px
		height: 60px
	.sec-partners .h2
		font-size: 29px
	.sec-callback-title
		font-size: 36px
	.sec-callback .form-callback
		padding-right: 15px
		padding-left: 15px
	.sec-callback .form-callback
		padding-top: 20px
		padding-bottom: 30px
	.sec-callback .form-callback-title
		font-size: 22px
		&:before
			top: 3px
	.header .form-callback input,
	.header .form-callback button
		width: 100%
		float: none
		font-size: 16px
	.msMiniCart-wrap
		position: relative
		top: auto
		left: auto
	.header .middle-header-info
		text-align: center
		padding-left: 0
		margin-left: 0
	.header .middle-header-info.last
		padding-left: 0
		margin-left: 0
	.header .middle-header-small .bg-time,
	.header .middle-header-small .bg-letter,
	.header .middle-header-info.last .middle-header-small .bg-letter
		position: relative
		display: inline-block
	.middle-header .pr0
		padding-left: 0
	.header .msMiniCart
		float: none
		margin-left: auto
		margin-right: auto
		width: 150px
	.sec-brands .jsfb .brand-wrap
		flex: 0 0 calc(100% - 16px)
		margin-left: 16px
	.sec-hits .jsfb .product-item
		flex: 0 0 calc(100% - 16px)
		margin-left: 16px
	.sec-advantages .jsfs .advantage-item
		flex: 0 0 calc(100% - 16px)
	.form-consult
		input
			width: 100%
			margin-right: 0
	.form-consult button
		padding: 0
		font-size: 18px
	.footer .footer-menu li:before
		display: none
	.footer .footer-menu.two-column li,
	.footer .footer-menu.two-column li:nth-child(2n),		
	.footer .footer-two-col .footer-menu li
		display: block
		width: 50%
		float: left
		padding-right: 0
		padding-left: 0
		margin-right: 0
		width: 50%
		float: left
		padding-right: 0
		padding-left: 0
		margin-right: 0
	.footer .footer-menu.two-column li, .footer .footer-menu.two-column li:nth-child(2n), .footer .footer-two-col .footer-menu li,
	.footer .footer-one-col, .footer .footer-two-col, .footer .footer-three-col, .footer .footer-four-col
		text-align: left
	.footer .footer-heading
		margin-left: 32px
	.contact-list
		.contact-item
			div
				left: 10px
			.txt
				font-size: 16px
				left: 90px
				&:last-child
					font-size: 15px
				.separ
					display: none
				a
					display: block
				br
					display: none
	.sec-contact-callback
		.form-contact
			button
				height: auto
				padding-top: 10px
				padding-bottom: 10px
	.pagination
		li
			margin-right: 5px
			margin-bottom: 10px
			a, span
				display: block
				width: 35px
				height: 35px
				background-color: #fff
				border-radius: 50%
				border: 2px solid #ddedd5
				line-height: 32px
				text-align: center
				color: $light-green
				text-decoration: none
				transition: $trans
				font-size: 16px
	.page-cart
		.cart
			padding-right: 15px
			.cart-item
				.prod-actions
					form.form-delete
						top: 30px
						right: 10px
				.prod-desc
					padding: 10px
	.page-cart .cart-item.total-cost
		font-size: 28px
	.sec-contact-callback .form-contact
		padding: 30px 15px
	.page-cart .sec-contact-callback .form-contact button
		width: 100%
		margin-top: 10px
	.header
		.bottom-header
			.super-menu
				.col1
					ul
						margin-bottom: 20px
						column-count: 2
						li
							display: block
				.col2
					&:before
						display: none
					width: 100%
					ul
						column-count: 2
						&.column4
							column-count: 4
							li
								display: block
								margin-right: 20px
						li
							display: block
							margin-right: 20px
				.col3
					&:before
						display: none
					width: 100%
					ul
						column-count: 1
						li
							display: block
							margin-right: 20px
				.col4
					&:before
						display: none
					width: 100%
					ul
						li
							display: block
							margin-right: 20px
	.page-text
		.sec-brands,
		.sec-brands.four-col
			.brand-wrap
				width: 220px
	.page-text
		.sec-brands,
		.sec-brands.four-col
			.d_flex
				padding-right: 7px
				padding-left: 7px
			.brand-wrap
				width: calc(100% - 14px)
				margin-right: 7px !important
				margin-left: 7px !important
	.sec-dropdown-filters
		.dropdown-filter-container
			.filter-item
				flex: 0 1 calc(100% - 60px)
				height: 140px
				margin-right: 30px
				margin-left: 30px
	.sec-views
		.views-container
			justify-content: center
			.views-item
				width: 100%
	.sec-сolodec
		.сolodec-container
			.сolodec-item
				padding: 15px
				.сolodec-desc
					padding: 15px
				.сolodec-price
					margin-top: 10px
	.sec-skva
		.type-skva-wrap
			.type-skva-item
				padding-right: 0
				padding-left: 0
				padding-bottom: 0
				.skva-desc
					padding-right: 0
					padding-left: 0
	.ddf-list
		column-count: 2
	.product-card-middle-info
		.middle-info-item
			width: 100%
	.product-card-top-info
		.product-info
			.roww
				.btn
					padding-right: 20px
					padding-left: 20px
					margin-right: 10px
	.form-fast-order input
		width: 100%
	.form-fast-order .btn
		width: 100%
		margin-left: 0
		margin-right: 0
		margin-top: -2px
	.category-filters .limit label
		margin-left: 0
	.thank-you-modal
		font-size: 18px
		br
			display: none
		.title
			font-size: 26px
	.add-product-modal
		.well-block
			a.btn
				display: block
				margin-left: 0
				margin-right: 0
				margin-bottom: 10px
	.quick-view-modal
		padding-left: 0
		padding-right: 0
		border: 5px solid $light-green
		.product-card-top-info
			.product-info
				.roww
					.btn
						padding-left: 15px
						padding-right: 15px
						margin-right: 5px
	form.form-buy
		text-align: center
		.product-price
			display: block
			margin-top: 10px
	.delivery-block .line
		.title
			width: 100%
			display: block
		.desc
			width: 100%
			display: block
			margin-top: 5px
			padding-left: 25px

@media screen and (min-width:1921px)
	body
		&:after,
		&:before
			display: none
@media screen and (min-width:1200px)
	.dropdown-menu[data-state=on]
		&:before,
		&:after
			display: none
