
.icon-chat:before { content: '\e800'; } /* '' */
.icon-clip:before { content: '\e801'; } /* '' */
.icon-clock:before { content: '\e802'; } /* '' */
.icon-credit-card:before { content: '\e803'; } /* '' */
.icon-cutlery:before { content: '\e804'; } /* '' */
.icon-download:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-file:before { content: '\e807'; } /* '' */
.icon-gamepad:before { content: '\e808'; } /* '' */
.icon-home:before { content: '\e809'; } /* '' */
.icon-insta-bold:before { content: '\e80a'; } /* '' */
.icon-insta:before { content: '\e80b'; } /* '' */
.icon-layers:before { content: '\e80c'; } /* '' */
.icon-left-chevron:before { content: '\e80d'; } /* '' */
.icon-left-arrow:before { content: '\e80e'; } /* '' */
.icon-left-arrow-border:before { content: '\e80f'; } /* '' */
.icon-message:before { content: '\e810'; } /* '' */
.icon-network:before { content: '\e811'; } /* '' */
.icon-old-telephone:before { content: '\e812'; } /* '' */
.icon-phone-call:before { content: '\e813'; } /* '' */
.icon-marker-bold:before { content: '\e814'; } /* '' */
.icon-marker-light:before { content: '\e815'; } /* '' */
.icon-marker:before { content: '\e816'; } /* '' */
.icon-right-chevron:before { content: '\e817'; } /* '' */
.icon-right-arrow:before { content: '\e818'; } /* '' */
.icon-shopping-cart:before { content: '\e819'; } /* '' */
.icon-video-camera:before { content: '\e81a'; } /* '' */
.icon-vk:before { content: '\e81b'; } /* '' */
.icon-calendar:before { content: '\e81c'; } /* '' */
.icon-car:before { content: '\e81d'; } /* '' */