@font-face {
  font-family: "ArialNarrow";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ArialNarrow/ArialNarrow.eot");
  src: url("../fonts/ArialNarrow/ArialNarrow.eot?#iefix") format("embedded-opentype"), url("../fonts/ArialNarrow/ArialNarrow.woff") format("woff"), url("../fonts/ArialNarrow/ArialNarrow.ttf") format("truetype"); }

html, body {
  overflow-scrolling: touch; }

body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: Arial, sans-serif;
  color: #151515;
  overflow-x: hidden; }

* {
  outline: 0; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

a:focus {
  outline: none; }

.btn {
  background-color: transparent;
  border: 1px solid #e60d2e;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 15px 50px 15px 20px;
  margin: 10px auto;
  display: block;
  line-height: 0;
  color: #e60d2e;
  position: relative;
  -webkit-transition: background-color,color .25s ease;
  -o-transition: background-color,color .25s ease;
  transition: background-color,color .25s ease; }
  .btn:before {
    content: "\e801";
    font-family: "Trolza";
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    display: block;
    position: absolute;
    right: 20px;
    -webkit-transition: right .25s ease;
    -o-transition: right .25s ease;
    transition: right .25s ease; }
  .btn:hover, .btn:focus {
    background-color: #e60d2e;
    color: #fff;
    text-decoration: none; }
    .btn:hover:before, .btn:focus:before {
      right: 15px; }

.btn-form {
  padding: 15px 50px 15px 20px;
  background-color: #e60d2e;
  border: 1px solid transparent;
  color: #fff;
  -webkit-transition: background-color,color,border .25s ease;
  -o-transition: background-color,color,border .25s ease;
  transition: background-color,color,border .25s ease;
  margin: 0;
  margin-top: 5px; }
  .btn-form:hover {
    border: 1px solid #fff; }

.carousel-control {
  text-shadow: none; }

.header {
  padding: 22px 0 22px;
  position: relative;
  z-index: 100;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
  background-color: #fff; }
  .header .logo {
    float: left;
    width: 275px; }
    .header .logo img {
      display: block;
      -webkit-transition: opacity .25s ease;
      -o-transition: opacity .25s ease;
      transition: opacity .25s ease;
      margin: 0 auto; }
      .header .logo img:hover {
        opacity: .8; }
  .header .main-menu {
    float: right; }
    .header .main-menu ul {
      list-style: none; }
      .header .main-menu ul li {
        display: inline-block;
        line-height: 26px;
        border-right: 1px solid #e7e4df;
        margin: 5px 0; }
        .header .main-menu ul li.active a {
          color: #e60d2e; }
        .header .main-menu ul li a {
          font-size: 16px;
          text-transform: uppercase;
          line-height: 1;
          color: #151515;
          font-family: "ArialNarrow";
          padding: 10px 18px;
          -webkit-transition: color .25s ease;
          -o-transition: color .25s ease;
          transition: color .25s ease; }
          .header .main-menu ul li a:hover, .header .main-menu ul li a:focus {
            text-decoration: none;
            color: #e60d2e; }
        .header .main-menu ul li:first-child a {
          padding-left: 0; }
  .header .main-menu-control {
    float: right;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1;
    color: #151515;
    font-family: "ArialNarrow";
    -webkit-transition: color .25s ease;
    -o-transition: color .25s ease;
    transition: color .25s ease;
    cursor: pointer;
    position: relative;
    padding: 6px 18px 0; }
    .header .main-menu-control:hover {
      text-decoration: none;
      color: #e60d2e; }
  .header .select-lang {
    float: right;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1;
    color: #151515;
    font-family: "ArialNarrow";
    -webkit-transition: color .25s ease;
    -o-transition: color .25s ease;
    transition: color .25s ease;
    cursor: pointer;
    position: relative; }
    .header .select-lang span {
      padding: 0 18px;
      display: block;
      position: relative;
      background-color: #fff;
      z-index: 2;
      line-height: 35px; }
      .header .select-lang span:before {
        content: "";
        position: absolute;
        top: 50%;
        right: 5px;
        width: 0;
        height: 0;
        margin-top: -2px;
        border-style: solid;
        border-width: 4px 3.5px 0 3.5px;
        border-color: #e7e4df transparent transparent transparent; }
    .header .select-lang li {
      position: absolute;
      top: 35px;
      left: 0;
      z-index: 1;
      width: 100%;
      opacity: 0;
      -webkit-transform: translateY(-100%);
          -ms-transform: translateY(-100%);
              transform: translateY(-100%);
      -webkit-transition: -webkit-transform .25s ease;
      transition: -webkit-transform .25s ease;
      -o-transition: transform .25s ease;
      transition: transform .25s ease;
      transition: transform .25s ease, -webkit-transform .25s ease; }
      .header .select-lang li:last-child {
        top: 76px;
        z-index: 2; }
      .header .select-lang li a {
        color: #151515;
        padding: 13px 18px;
        display: block;
        background-color: #fff; }
        .header .select-lang li a:hover, .header .select-lang li a:focus {
          text-decoration: none;
          color: #e60d2e; }
    .header .select-lang:hover li, .header .select-lang:focus li, .header .select-lang:active li {
      opacity: 1;
      -webkit-transform: translateY(0%);
          -ms-transform: translateY(0%);
              transform: translateY(0%); }
  .header .submenu {
    position: absolute;
    top: -22px;
    right: -80px;
    text-align: center;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    background-color: #e60d2e;
    z-index: 1; }
    .header .submenu li {
      background-color: #e60d2e;
      -webkit-transition: all .5s ease;
      -o-transition: all .5s ease;
      transition: all .5s ease;
      overflow: hidden; }
      .header .submenu li:hover {
        background-color: #c5001e; }
        .header .submenu li:hover:last-child {
          background-color: #c5001e; }
          .header .submenu li:hover:last-child i {
            color: #fff; }
      .header .submenu li a {
        display: block;
        width: 80px;
        height: 80px;
        color: #fff;
        line-height: 16px;
        font-family: "ArialNarrow";
        position: relative; }
        .header .submenu li a .vert {
          position: absolute;
          width: 100%;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%); }
          .header .submenu li a .vert i {
            display: block;
            font-size: 28px;
            display: block;
            margin-bottom: 5px;
            -webkit-transition: color,-webkit-transform .5s ease;
            transition: color,-webkit-transform .5s ease;
            -o-transition: color,transform .5s ease;
            transition: color,transform .5s ease;
            transition: color,transform .5s ease,-webkit-transform .5s ease; }
      .header .submenu li:last-child {
        background-color: #fff; }
        .header .submenu li:last-child i {
          color: #e60d2e; }
    .header .submenu.hide-submenu {
      margin-top: -400px; }
      .header .submenu.hide-submenu li {
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0);
        background-color: transparent; }
        .header .submenu.hide-submenu li a {
          background-color: transparent; }
        .header .submenu.hide-submenu li:last-child {
          -webkit-transform: scale(1);
              -ms-transform: scale(1);
                  transform: scale(1); }
          .header .submenu.hide-submenu li:last-child a {
            background-color: #e60d2e; }
            .header .submenu.hide-submenu li:last-child a i {
              color: #fff;
              -webkit-transform: rotate(135deg);
                  -ms-transform: rotate(135deg);
                      transform: rotate(135deg); }
        .header .submenu.hide-submenu li:hover:last-child a {
          background-color: #c5001e; }

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-animation-name: opacity;
          animation-name: opacity;
  -webkit-animation-duration: .4s;
          animation-duration: .4s; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes opacity {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.menu-panel {
  background-color: #66c9b5;
  position: fixed;
  left: -15.625em;
  width: 15.625em; }

.pushy-open-left .site-overlay {
  display: none; }

.pushy {
  display: none;
  width: 250px;
  height: 120%;
  padding-bottom: 20%;
  background-color: #66c9b5; }
  .pushy a {
    color: #fff;
    font-family: "ArialNarrow";
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 8px 30px;
    -webkit-transition: color .25s ease;
    -o-transition: color .25s ease;
    transition: color .25s ease; }
    .pushy a:hover {
      color: #1b5a57; }
  .pushy button {
    color: #fff;
    font-family: "ArialNarrow";
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;
    padding: 8px 30px; }

.pushy-open-left .site-overlay, .pushy-open-right .site-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer; }

.pushy-left {
  -webkit-transform: translate3d(-250px, 0, 0);
          transform: translate3d(-250px, 0, 0); }

.mobile-search {
  padding: 20px 30px 10px;
  position: relative; }
  .mobile-search input {
    display: block;
    width: 130px;
    font-size: 17px;
    border: 0;
    padding: 5px 10px;
    -webkit-border-radius: 4px 0 0 4px !important;
            border-radius: 4px 0 0 4px !important; }
  .mobile-search button {
    display: block;
    width: 40px;
    height: 38px;
    background-color: #e60d2e;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    text-align: center;
    position: absolute;
    top: 20px;
    padding: 0;
    right: 30px;
    -webkit-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0; }

.pushy-open-left .site-overlay, .pushy-open-right .site-overlay {
  top: -100px;
  bottom: -100px;
  left: -100px;
  right: -100px; }

.mfp-bg {
  background-color: #fff;
  opacity: 1; }

#search-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  #search-popup .top-line {
    padding: 22px 0 20px 56px; }
  #search-popup .mfp-close {
    display: none; }
  #search-popup .close-search-popup {
    text-align: right;
    display: block;
    font-size: 24px;
    color: #151515; }
  #search-popup .search-form {
    margin: 40px auto 70px;
    width: 530px;
    position: relative; }
    #search-popup .search-form p {
      font-size: 16px;
      font-family: "ArialNarrow";
      font-style: italic;
      color: #727272;
      line-height: 30px; }
    #search-popup .search-form input {
      width: 100%;
      padding: 12px 40px 12px 12px;
      border: 1px solid #e60d2e;
      -webkit-border-radius: 4px;
              border-radius: 4px; }
    #search-popup .search-form button {
      border: none;
      background-color: transparent;
      position: absolute;
      padding: 10px;
      top: 30px;
      right: 0;
      font-size: 20px;
      opacity: .5;
      -webkit-transition: opacity .25s ease;
      -o-transition: opacity .25s ease;
      transition: opacity .25s ease; }
      #search-popup .search-form button:hover {
        opacity: 1; }
  #search-popup .search-list {
    list-style: none; }
    #search-popup .search-list li {
      display: block; }
      #search-popup .search-list li a {
        font-size: 16px;
        line-height: 2;
        color: #727272;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        -webkit-transition: color,border .25s ease;
        -o-transition: color,border .25s ease;
        transition: color,border .25s ease; }
        #search-popup .search-list li a:hover {
          color: #e60d2e;
          border-bottom: 1px solid #e60d2e; }
      #search-popup .search-list li:first-child {
        margin-bottom: 10px; }
        #search-popup .search-list li:first-child a {
          text-transform: uppercase;
          font-family: "ArialNarrow";
          color: #151515;
          -webkit-transition: color .25s ease;
          -o-transition: color .25s ease;
          transition: color .25s ease;
          line-height: 1; }
          #search-popup .search-list li:first-child a:hover {
            color: #e60d2e;
            border-bottom: none; }
    #search-popup .search-list:last-child {
      margin-top: 10px; }

.info-box {
  padding: 15px 15px 15px 40px;
  border-top: 1px solid #e7e4df;
  border-bottom: 1px solid #e7e4df;
  color: #66c9b5;
  font-size: 16px; }
  .info-box .info-item a {
    color: #66c9b5; }

.main-news-item {
  position: relative;
  margin-top: 15px;
  height: 217px; }
  .main-news-item:first-child {
    border-bottom: 1px solid #e7e4df; }
  .main-news-item:last-child .news-label {
    background-color: #66c9b5; }
  .main-news-item .news-label {
    position: absolute;
    top: 0;
    right: -30px;
    background-color: #33a8a3;
    width: 100px;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
    color: #fff;
    font-family: "ArialNarrow"; }
  .main-news-item .news-date {
    color: #151515;
    padding: 0;
    margin-left: 15px; }
  .main-news-item .read-more {
    color: #151515; }
    .main-news-item .read-more:hover {
      color: #151515; }
  .main-news-item p {
    padding: 0;
    padding-top: 50px;
    font-size: 16px;
    line-height: 21px; }

#main-slider .item .item-capture {
  font-size: 43px;
  color: #66c9b5;
  font-family: Verdana;
  position: absolute;
  top: 40px;
  left: 60px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 56px; }

#main-slider .carousel-indicators .active {
  background-color: #e60d2e;
  border-color: #e60d2e; }

#main-slider .carousel-indicators li {
  border-width: 2px;
  border-color: #e60d2e;
  margin-left: 4px; }
  #main-slider .carousel-indicators li:first-child {
    margin-left: 0; }

#main-slider .carousel-indicators {
  width: auto;
  right: 20px;
  bottom: 20px;
  left: auto; }

.advantages {
  background-color: #f8f7f4;
  padding: 35px 0; }
  .advantages .item img {
    position: relative;
    display: block;
    margin-bottom: 10px;
    width: auto;
    margin: 0 auto; }
  .advantages .item-caption {
    margin-top: 15px;
    border-top: 1px solid #e9e6df;
    padding-top: 15px;
    font-size: 15px;
    text-align: center;
    line-height: 21px;
    font-weight: 700; }

.history .header-sec-wrap .btn {
  max-width: 176px;
  bottom: 49px; }

.history .carousel-control {
  text-shadow: nine; }
  .history .carousel-control.right {
    background: none;
    top: 50%;
    right: 5px;
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    -webkit-transform: translateX(-50%) rotate(90deg);
        -ms-transform: translateX(-50%) rotate(90deg);
            transform: translateX(-50%) rotate(90deg); }
  .history .carousel-control.left {
    background: none;
    top: 50%;
    left: 360px;
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    -webkit-transform: translateX(-50%) rotate(-90deg);
        -ms-transform: translateX(-50%) rotate(-90deg);
            transform: translateX(-50%) rotate(-90deg); }
  .history .carousel-control i {
    display: block;
    width: 45px;
    height: 45px;
    line-height: 45px; }

.history .image-slide {
  padding-right: 0 !important;
  position: relative; }

.history .carousel-inner {
  position: relative;
  background-color: #fff; }
  .history .carousel-inner .history-year {
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 30px;
    text-decoration: underline;
    color: #d0c4b6; }
  .history .carousel-inner .history-introtext {
    font-size: 17px;
    text-indent: 40px;
    position: relative;
    line-height: 26px;
    border-bottom: 1px solid #e7e4df;
    padding-bottom: 30px; }
    .history .carousel-inner .history-introtext:before {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;
      width: 24px;
      height: 17px;
      background-image: url("../img/blockquote.png"); }
    .history .carousel-inner .history-introtext:after {
      content: "";
      position: absolute;
      bottom: 20px;
      right: 0;
      width: 24px;
      height: 17px;
      background-image: url("../img/blockquote.png");
      -webkit-transform: rotate(180deg);
          -ms-transform: rotate(180deg);
              transform: rotate(180deg); }

.carousel.fade {
  opacity: 1; }

.carousel.fade .item {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  transition: opacity 1s ease; }

.carousel.fade .item.active {
  position: relative;
  opacity: 1; }

.history-slider-bg {
  background-image: url("../img/history-bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-attachment: fixed; }

.bus-slider-bg {
  background-color: #f8f7f4;
  padding: 20px 0; }
  .bus-slider-bg .carousel > div:first-child {
    background-color: #fff; }
  .bus-slider-bg .carousel-indicators {
    position: relative;
    margin: 0;
    padding: 0;
    left: 0;
    bottom: 0;
    width: auto; }
    .bus-slider-bg .carousel-indicators .nav-item {
      display: block;
      position: relative;
      cursor: pointer;
      padding: 17px 0 25px;
      font-family: "ArialNarrow";
      margin-top: 10px;
      border: 1px solid transparent;
      -webkit-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease;
      line-height: 1;
      border-bottom: 1px solid #e9e6df;
      z-index: 0; }
      .bus-slider-bg .carousel-indicators .nav-item:first-child {
        margin-top: 15px; }
      .bus-slider-bg .carousel-indicators .nav-item:hover {
        border: 1px solid #66c9b5; }
      .bus-slider-bg .carousel-indicators .nav-item.active {
        width: auto;
        height: auto;
        border: 1px solid #e60d2e;
        z-index: 1; }
        .bus-slider-bg .carousel-indicators .nav-item.active .number-bus {
          color: #e60d2e; }
        .bus-slider-bg .carousel-indicators .nav-item.active .bus-title {
          border-bottom: 1px solid #e60d2e; }
      .bus-slider-bg .carousel-indicators .nav-item .number-bus {
        font-size: 16px;
        color: #66c9b5;
        position: absolute;
        top: 15px;
        left: 15px;
        line-height: 1; }
      .bus-slider-bg .carousel-indicators .nav-item .bus-title {
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid #66c9b5;
        line-height: 1;
        padding-bottom: 10px; }
      .bus-slider-bg .carousel-indicators .nav-item img {
        margin: 0 auto;
        margin-top: 29px;
        margin-bottom: 4px; }
  .bus-slider-bg .carousel-control {
    position: relative;
    width: 50%;
    text-shadow: none;
    padding: 15px 0;
    opacity: 1;
    display: block; }
    .bus-slider-bg .carousel-control i {
      color: #e9e6df;
      display: block;
      -webkit-transition: color .25s ease;
      -o-transition: color .25s ease;
      transition: color .25s ease; }
    .bus-slider-bg .carousel-control.left {
      background: none;
      border-right: 1px solid #e9e6df;
      -webkit-filter: none;
              filter: none; }
    .bus-slider-bg .carousel-control.right {
      background: none;
      -webkit-filter: none;
              filter: none; }
      .bus-slider-bg .carousel-control.right i {
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg); }
    .bus-slider-bg .carousel-control:hover i {
      color: #bfb7a3; }
  .bus-slider-bg .carousel-inner .item-title {
    position: absolute;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 56px;
    line-height: 1;
    margin: 20px;
    border-bottom: 4px solid #fff; }
  .bus-slider-bg .carousel-inner .item p {
    font-size: 16px;
    line-height: 21px;
    padding: 10px 0 0; }
  .bus-slider-bg .carousel-inner .item .btn {
    float: right;
    right: 1px;
    margin-bottom: 0; }

.news-sec .header-sec-wrap .btn {
  max-width: 176px;
  bottom: 49px; }

.news-sec .big-news {
  position: relative; }
  .news-sec .big-news .news-label {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #33a8a3;
    width: 130px;
    height: 40px;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
    color: #fff;
    font-family: "ArialNarrow"; }

.news-sec .long-news {
  position: relative; }
  .news-sec .long-news .long-img {
    display: none; }

.news-sec.articles .big-news .news-label {
  background-color: #ada397; }

.news-date {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding: 15px;
  font-size: 13px; }
  .news-date-day {
    display: inline-block;
    font-weight: bold;
    font-size: 32px;
    line-height: 1;
    vertical-align: top; }
  .news-date-details {
    display: inline-block;
    vertical-align: top; }
    .news-date-details-month {
      display: block;
      line-height: 1.3;
      font-family: "ArialNarrow";
      text-transform: uppercase;
      font-size: 13px;
      margin-top: 2px; }
    .news-date-details-year {
      display: block;
      line-height: 1;
      font-size: 11px; }

.text {
  position: absolute;
  bottom: 55px;
  color: #fff;
  width: 100%;
  padding: 0 15px;
  font-size: 16px;
  line-height: 21px; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(top, transparent 39%, rgba(0, 0, 0, 0.65) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(39%, transparent), to(rgba(0, 0, 0, 0.65)));
  background: -o-linear-gradient(top, transparent 39%, rgba(0, 0, 0, 0.65) 100%);
  background: linear-gradient(to bottom, transparent 39%, rgba(0, 0, 0, 0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); }

.read-more {
  position: absolute;
  bottom: 20px;
  left: 15px;
  color: #fff;
  display: block;
  text-decoration: none;
  padding-right: 15px;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "ArialNarrow"; }
  .read-more:before {
    content: "\e801";
    font-family: "Trolza";
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    position: absolute;
    right: -5px;
    -webkit-transition: right .25s ease;
    -o-transition: right .25s ease;
    transition: right .25s ease; }
  .read-more:hover, .read-more:focus {
    text-decoration: none;
    color: #fff; }
  .read-more:hover:before {
    right: -10px; }

.square-news {
  margin-top: 30px; }
  .square-news .square-news-wrap:last-child .square-news-item {
    background-color: #66c9b5; }
  .square-news-item {
    height: 259px;
    background-color: #33a8a2;
    position: relative; }

.articles .square-news .square-news-wrap:last-child .square-news-item {
  background-color: #e7e4df; }

.articles .square-news-item {
  background-color: #d0c4b6; }

.articles .square-news p, .articles .square-news .news-date, .articles .square-news .read-more {
  color: #151515; }

.articles .square-news .news-date:before {
  background-color: #151515; }

.square-news .news-date {
  width: 100%; }
  .square-news .news-date:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 7%;
    width: 86%;
    height: 1px;
    background-color: #FFF; }

.square-news p {
  position: absolute;
  padding: 0 15px;
  line-height: 20px;
  top: 80px;
  color: #fff;
  font-size: 16px; }

.flags .flag-block {
  background-color: #e9e6df;
  position: relative;
  padding-left: 50px;
  height: 207px; }

.flags .block-number {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: #e60d2e;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 40px; }

.postavka .header-sec-wrap {
  position: relative; }

.postavka .flag-header {
  font-size: 18px;
  font-family: "ArialNarrow";
  font-weight: bold;
  line-height: 40px;
  border-bottom: 1px solid #d0c4b6;
  margin-right: 20px;
  text-transform: uppercase; }

.postavka .flag-list {
  font-size: 18px;
  font-family: "ArialNarrow";
  padding: 10px 0; }

.header-sec-wrap {
  position: relative; }
  .header-sec-wrap .btn {
    position: absolute;
    width: 203px;
    bottom: 40px;
    right: 15px; }

.double-colums {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2; }

.postavka-map {
  padding: 0 !important; }

.header-sec {
  text-align: center;
  max-width: 580px;
  margin: 0 auto;
  padding-bottom: 40px;
  border-right: 1px solid #d0c4b6;
  border-left: 1px solid #d0c4b6; }
  .header-sec .header-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.2;
    padding: 30px 15px 15px; }
  .header-sec p {
    font-size: 16px;
    line-height: 21px;
    padding-left: 15px;
    padding-right: 15px; }

.horns {
  padding-top: 100px;
  position: relative; }
  .horns .circle {
    width: 8px;
    height: 8px;
    background-color: #d0c4b6;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: 0 auto;
    position: relative; }
  .horns:before {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #d0c4b6;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%); }
  .horns:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background-color: #d0c4b6;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }

.brands {
  margin-top: 15px; }
  .brands .brand {
    height: 75px;
    margin-bottom: 40px;
    position: relative; }
    .brands .brand img {
      position: absolute;
      margin: auto;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0; }

.partners .btn {
  margin-top: 25px;
  margin-bottom: 65px;
  max-width: 163px; }

.top-footer {
  background-color: #66c9b5;
  padding: 40px 0;
  position: relative; }
  .top-footer:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    left: 50%;
    background-color: #FFF;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .top-footer .footer-header {
    text-transform: uppercase;
    font-family: "ArialNarrow", Arial;
    margin-bottom: 15px;
    margin-left: 30px; }
  .top-footer .footer-contacts-list {
    color: #fff;
    line-height: 18px; }
    .top-footer .footer-contacts-list li {
      margin-bottom: 15px;
      padding-left: 30px; }
      .top-footer .footer-contacts-list li:last-child {
        margin-bottom: 0; }
      .top-footer .footer-contacts-list li a {
        color: #fff; }
    .top-footer .footer-contacts-list i {
      position: absolute;
      margin-left: -30px;
      margin-top: 1px;
      font-size: 17px;
      color: #008b81; }
  .top-footer .footer-navigation-list {
    color: #fff;
    line-height: 18px; }
    .top-footer .footer-navigation-list li {
      margin-bottom: 9px;
      padding-left: 30px; }
      .top-footer .footer-navigation-list li:last-child {
        margin-bottom: 0; }
      .top-footer .footer-navigation-list li a {
        color: #fff; }

.top-up {
  position: relative;
  border-bottom: 2px solid #bdeded;
  -webkit-transition: border-color .25s ease;
  -o-transition: border-color .25s ease;
  transition: border-color .25s ease; }
  .top-up.top-up-hover {
    border-color: #e60d2e; }
  .top-up .up-btn {
    position: absolute;
    display: block;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 30px 30px;
    border-color: transparent transparent #fff transparent;
    margin-left: -30px;
    -webkit-transition: border-color .25s ease;
    -o-transition: border-color .25s ease;
    transition: border-color .25s ease; }
    .top-up .up-btn:hover {
      border-color: transparent transparent #e60d2e transparent; }
      .top-up .up-btn:hover i {
        top: 9px;
        color: #fff; }
    .top-up .up-btn i {
      position: absolute;
      top: 12px;
      line-height: 0;
      left: -10px;
      color: #66c9b5;
      -webkit-transform: translateX(1%);
          -ms-transform: translateX(1%);
              transform: translateX(1%);
      -webkit-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }

.footer-contact-form .footer-header {
  margin-left: 0; }

.footer-contact-form p {
  color: #fff;
  line-height: 18px; }

.footer-contact-form input {
  height: 30px;
  background-color: transparent;
  border: 1px solid #20afa5;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  padding: 0 10px;
  color: #fff;
  width: 100%;
  margin: 13px 0; }
  .footer-contact-form input::-webkit-input-placeholder {
    color: #bdeded; }
  .footer-contact-form input::-moz-placeholder {
    color: #bdeded; }
  .footer-contact-form input:-ms-input-placeholder {
    color: #bdeded; }
  .footer-contact-form input::-ms-input-placeholder {
    color: #bdeded; }
  .footer-contact-form input::placeholder {
    color: #bdeded; }
  .footer-contact-form input[type='checkbox'] {
    display: none; }
  .footer-contact-form input[type='checkbox']:checked + .custom-checkbox i {
    display: block; }

.custom-checkbox {
  display: inline-block;
  width: 17px;
  height: 17px;
  border: 1px solid #20afa5;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .custom-checkbox i {
    position: absolute;
    top: 2px;
    left: 2px;
    color: #fff;
    font-size: 12px;
    display: none; }

.polic-text {
  display: inline-block;
  vertical-align: top;
  line-height: 18px;
  padding-left: 5px; }
  .polic-text a {
    color: #151515; }

.bottom-footer {
  padding: 25px 0;
  line-height: 27px; }

.footer-logo {
  opacity: 1;
  -webkit-transition: opacity .25s ease;
  -o-transition: opacity .25s ease;
  transition: opacity .25s ease; }
  .footer-logo:hover {
    opacity: .7; }

.social-links {
  text-align: right; }
  .social-links li {
    display: inline-block;
    font-size: 15px; }
    .social-links li a i {
      color: #66c9b5;
      display: block;
      height: 27px;
      width: 27px;
      border: 1px solid #66c9b5;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      text-align: center;
      -webkit-transition: background-color,color .25s ease;
      -o-transition: background-color,color .25s ease;
      transition: background-color,color .25s ease; }
    .social-links li a i.icon-vk {
      font-size: 18px;
      margin-right: 3px; }
    .social-links li a i:hover {
      background-color: #66c9b5;
      color: #fff; }
    .social-links li a:hover {
      text-decoration: none; }

.polic-link {
  color: #272727; }
  .polic-link:hover {
    color: #272727; }

.copyright {
  color: #272727;
  padding-left: 45px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .pushy, .pushy-open-left .site-overlay {
    display: block; }
  body {
    margin-top: 80px; }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; }
    .header .logo {
      width: auto; }
    .header .main-menu-control {
      margin-right: 80px; }
    .header .submenu {
      margin-top: -340px;
      right: 15px; }
      .header .submenu li:last-child {
        -webkit-transform: scale(1);
            -ms-transform: scale(1);
                transform: scale(1); }
        .header .submenu li:last-child a {
          background-color: #e60d2e; }
          .header .submenu li:last-child a i {
            color: #fff;
            -webkit-transform: rotate(135deg);
                -ms-transform: rotate(135deg);
                    transform: rotate(135deg); }
      .header .submenu li {
        -webkit-transform: scale(0);
            -ms-transform: scale(0);
                transform: scale(0); }
        .header .submenu li a {
          width: 70px;
          height: 70px;
          font-size: 12px; }
          .header .submenu li a .vert i {
            font-size: 20px; }
      .header .submenu.hide-submenu {
        margin-top: 0; }
        .header .submenu.hide-submenu li:last-child a i {
          color: #fff;
          -webkit-transform: rotate(0deg);
              -ms-transform: rotate(0deg);
                  transform: rotate(0deg); }
        .header .submenu.hide-submenu li {
          -webkit-transform: scale(1);
              -ms-transform: scale(1);
                  transform: scale(1); }
  .history .carousel-inner .history-year {
    margin-bottom: 20px; }
  .history .carousel-control.left {
    left: 390px; }
  .history .carousel-inner .history-introtext {
    border-bottom: 0; }
  .info-box {
    height: 55px; }
  .info-item {
    float: left;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    display: block; }
  .main-news-item p {
    padding-left: 0; }
  .main-news-item:first-child {
    border-bottom: 0; }
  .main-menu {
    display: none; }
  .main-news-item {
    margin-top: 20px;
    height: 170px; }
  .main-news-item .news-label {
    right: 0; }
  .carousel-indicators .nav-item img {
    margin-top: 25px;
    margin-bottom: 0px; }
  .square-news-item {
    height: 207px; }
  .header-sec-wrap .btn {
    width: 170px;
    padding-right: 30px;
    padding-left: 10px;
    font-size: 13px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #search-popup .search-list li a {
    padding: 5px 0; }
  .history-slider-bg {
    background: none; }
  .history .carousel-control {
    padding: 0; }
    .history .carousel-control i {
      color: #d0c4b6; }
    .history .carousel-control.right {
      top: 10px;
      border-color: #d0c4b6;
      right: -7px; }
    .history .carousel-control.left {
      left: 38px;
      top: 10px;
      border-color: #d0c4b6; }
  .history .carousel-inner .history-year {
    text-align: center; }
  .history .image-slide {
    padding-right: 15px !important; }
  .main-news-item p {
    padding-bottom: 55px; }
  .main-news-item {
    height: auto; }
  .carousel-control {
    padding: 7px 0; }
  .bus-slider .carousel-control.right {
    background-color: #f8f7f4;
    border-right: 15px solid #fff; }
    .bus-slider .carousel-control.right i {
      -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
              transform: rotate(90deg); }
  .bus-slider .carousel-control.left {
    background-color: #f8f7f4;
    border-left: 15px solid #fff; }
    .bus-slider .carousel-control.left i {
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg); }
  .bus-slider .carousel-inner > .item > img {
    margin-bottom: 10px; }
  .bus-slider-bg {
    background: #fff; }
  .bus-slider .carousel-indicators {
    display: none; }
  .news-sec.articles .big-news {
    margin-top: 30px; }
  .news-sec .long-news {
    margin-top: 30px; }
  news-sec.articles .long-news {
    margin-top: 0px; }
  .flags .flag-block {
    height: auto; }
  .header-sec {
    padding-bottom: 0; }
  .header-sec-wrap .btn {
    position: relative;
    right: 0;
    bottom: 0 !important;
    margin-bottom: 20px; }
  .header-sec p {
    margin-bottom: 15px; }
  .news-sec .header-sec-wrap .btn {
    margin-top: 0; }
  .top-footer:before {
    display: none; }
  .footer-contact-form {
    margin-top: 30px; }
  .copyright {
    padding-left: 15px; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .bus-slider-bg .carousel-inner .item-title {
    font-size: 40px;
    border-bottom: 3px solid; }
  .header .main-menu-control {
    margin-right: 0;
    padding-right: 0; }
  .sticky-header {
    padding: 15px 0; }
  .header {
    border-bottom: 3px solid #66c9b5; }
    .header .submenu {
      display: none; }
    .header .select-lang {
      margin-right: 0; }
  .bus-slider-bg .carousel-inner .item .btn {
    float: none; }
  #main-slider {
    display: none; }
  .carousel-inner .item .btn {
    float: none;
    width: 280px; }
  .square-news .square-news-wrap .square-news-item {
    height: 180px; }
  .square-news .square-news-wrap:last-child .square-news-item {
    margin-top: 30px; }
  .postavka-map {
    display: none; }
  .footer-logo img {
    display: block;
    margin: 0 auto; }
  .social-links {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px; }
  .polic-link, .copyright {
    display: block;
    text-align: center; }
  .partners .btn {
    margin-top: 10px;
    margin-bottom: 40px; } }

@media only screen and (max-width: 610px) {
  .horns {
    display: none; }
  .header-sec {
    border: none; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .bus-slider-bg .carousel-inner .item-title {
    font-size: 28px;
    border-bottom: 2px solid; }
  .header .submenu {
    right: 15px; }
  .header .logo img {
    margin-left: 0; }
  .info-box {
    border-top: 0; }
  .advantages .item-caption {
    margin: 15px auto 0;
    width: 80%; }
  .info-box {
    height: 80px; }
  .info-item {
    width: 100%; }
  .bus-slider-bg .carousel-control {
    padding: 5px 0; }
  .history .image-slide {
    display: none; }
  .carousel-inner .item-title {
    font-size: 30px; }
  .news-sec .long-news img {
    display: none; }
  .news-sec .long-news .long-img {
    display: block; }
  .header-sec br {
    display: none; }
  .navigation {
    margin-top: 30px; }
  .footer-contact-form .phone-input {
    margin-top: 0; }
  .polic-text {
    width: 92%;
    font-size: 13px;
    line-height: 1;
    margin-top: 2px;
    margin-bottom: 10px; } }

@media only screen and (max-width: 400px) {
  .header .select-lang {
    margin-right: 0; }
  .header {
    padding-bottom: 10px; } }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .main-menu-control {
    display: none; }
  /**/ }
