.lof-slidecontent  .sliders-wrapper{
	position:relative;
	height:100%;
	overflow:hidden;
}
.lof-slidecontent  ul.sliders-wrap-inner{
	overflow:hidden;
	padding:0px;
	margin:0;
	position:absolute;
	overflow:hidden;
}
.lof-slidecontent  ul.sliders-wrap-inner li{
	overflow:hidden;
	float:left;	
	position:relative;
}


