body, html {
  padding: 0;
  margin: 0;
  font-size: 16px; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  color: #444;
  overflow-x: hidden;
  background-image: none;
  -webkit-background-size: 100% 100%;
          background-size: 100%;
  background-repeat: repeat-y; }

.left-sidebar {
  display: block; }

.sidebar {
  position: relative;
  height: 100px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }

.sidebar-logo {
  display: block;
  float: left; }

.logo-img {
  position: absolute;
  top: 0;
  left: 0;
  padding: .7rem 1.3rem; }
  .logo-img img:last-child {
    display: none; }

.time-work {
  float: left;
  line-height: 100px; }

.menu-btn {
  float: right;
  display: block;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
  margin-top: 35px; }
  .menu-btn span {
    display: block;
    height: 3px;
    background-color: #2b9bca;
    width: 30px;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .menu-btn span:before {
      content: "";
      position: absolute;
      height: 3px;
      top: -14px;
      left: 0;
      width: 100%;
      background-color: #2b9bca; }
    .menu-btn span:after {
      content: "";
      position: absolute;
      height: 3px;
      top: 14px;
      left: 0;
      width: 100%;
      background-color: #2b9bca; }

.map-complex {
  text-decoration: none;
  display: block;
  float: right;
  background: -webkit-linear-gradient(113deg, #9ddf8b 13%, #74cfbe 50%, #4dbfef 86%);
  background: -o-linear-gradient(113deg, #9ddf8b 13%, #74cfbe 50%, #4dbfef 86%);
  background: linear-gradient(-23deg, #9ddf8b 13%, #74cfbe 50%, #4dbfef 86%);
  -webkit-border-radius: 2rem 0 0 2rem;
          border-radius: 2rem 0 0 2rem;
  padding-left: .7rem;
  padding-right: .5rem;
  font-weight: 500;
  margin-left: 1.5rem;
  color: #444;
  line-height: 2.5rem;
  margin-top: 31px;
  -webkit-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease; }
  .map-complex i {
    font-size: 1rem; }
  .map-complex:hover {
    color: #fff;
    text-decoration: none; }

.top-menu {
  width: 100%;
  text-align: right;
  margin-top: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99; }
  .top-menu ul {
    list-style: none;
    padding-left: 1rem;
    display: inline-block;
    -webkit-border-radius: 1.3rem 0 0 1.3rem;
            border-radius: 1.3rem 0 0 1.3rem; }
    .top-menu ul li {
      padding-left: 0;
      display: inline-block; }
      .top-menu ul li:before {
        display: none; }
      .top-menu ul li a {
        display: block;
        color: #444;
        text-decoration: none;
        line-height: 2.5rem;
        padding: 0 1rem;
        position: relative;
        -webkit-transition: color 0.25s ease;
        -o-transition: color 0.25s ease;
        transition: color 0.25s ease; }
        .top-menu ul li a:hover {
          color: #1d89b6; }
        .top-menu ul li a i {
          position: absolute;
          top: 0;
          left: .7rem;
          font-size: 1.3rem; }
      .top-menu ul li:first-child a {
        padding-left: 0; }
      .top-menu ul li:last-child a {
        background: -webkit-linear-gradient(113deg, #9ddf8b 13%, #74cfbe 50%, #4dbfef 86%);
        background: -o-linear-gradient(113deg, #9ddf8b 13%, #74cfbe 50%, #4dbfef 86%);
        background: linear-gradient(-23deg, #9ddf8b 13%, #74cfbe 50%, #4dbfef 86%);
        -webkit-border-radius: 2rem 0 0 2rem;
                border-radius: 2rem 0 0 2rem;
        padding-left: 2.7rem;
        font-weight: 500;
        margin-left: 1.5rem; }
        .top-menu ul li:last-child a:hover {
          color: #fff; }

.wrapper {
  width: 100%; }

.item-wrap {
  padding: 0 29% 0 6%;
  position: relative; }

.item-txt {
  position: absolute;
  top: 30%;
  left: 54%;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 5px 20.88px 3.12px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 20.88px 3.12px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 315px;
  height: 315px; }
  .item-txt-align {
    position: absolute;
    top: 50%;
    left: 25%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 440px; }
  .item-txt span {
    display: block; }
    .item-txt span.slide-header {
      font-size: 2.5rem;
      font-weight: 700;
      color: #1d89b6; }
    .item-txt span.slide-content {
      font-size: 1.125rem;
      margin-bottom: 1rem; }
  .item-txt .slide-btn {
    background-color: #27b0ea;
    padding: .6rem 1rem;
    color: #fff;
    -webkit-border-radius: 1rem;
            border-radius: 1rem;
    line-height: 1rem;
    text-decoration: none;
    -webkit-transition: opacity 0.25s ease;
    -o-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease; }
    .item-txt .slide-btn:hover {
      text-decoration: none;
      opacity: .7; }

.carousel-indicators {
  position: absolute;
  bottom: 7%;
  left: -14%; }
  .carousel-indicators li {
    background-color: #fff;
    height: 18px;
    width: 18px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    cursor: pointer; }
    .carousel-indicators li.active {
      background-color: #1d89b6;
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
