@import "vars"

/*==========  Desktop First  ==========*/


@media only screen and (max-width : 1300px)
	.services
		padding-right: 10px
		padding-left: 10px
		.left-column,.center-column
			width: 50%
		.right-column
			width: 100%
		.small-left-column,.small-right-column
			width: 100%
		.long-service
			width: 100%
			float: left
		.small-long-service
			width: 50%
			float: left
		




/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.footer
		text-align: center;
		.footer-menu,.social-footer,.bron
			margin-bottom: 20px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.bottom-line
		text-align: center !important
		.referal
			text-align: center !important
	.policy
		display: block
		padding: 10px 0
	.top-contact
		li
			display: block
			&:last-child
				margin-top: 20px
	.events
		.left-column,.right-column
			width: 100%
		.event-item-last
			.event-info
				bottom: 10px
				.publish-date
					margin-right: 0

	.youtube-video-more, .news-item-next
		height: 100px

	.news
		.news-item-next
			a
				font-size: 2rem
				line-height: 2rem
				span
					margin-top: -1rem
					margin-left: -117px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.top-contact
		display: none
	.social-links
		margin-bottom: 0
	.news-single
		img
			float: left
			width: 50%
	.logo-center
		img
			width: 150px
	.services-wrap, .section-head, .content-wrap
		margin-left: 0
		margin-right: 0
	.section-wrap
		margin-left: 0
		margin-right: 0
	.youtube-wrap
		margin-left: 0
		margin-right: 0
	.header
		display: none
		position: fixed;
		width: 100%
		background-color: rgba(0,0,0,0.95);
		text-align: center
		.logo
			padding: 10px 0 10px
			img
				width: 60px
			&-header
				padding-bottom: 10px
				display: block
				color: #fff
		.header-bottom
			position: absolute
			bottom: 0
			.social
				.soc-text
					display: none
			.contact-menu
				display: block
				list-style: none
				padding-left: 0
				a,span,li
					color: #fff
				span
					padding-right: 10px

		.advice
			display: none
	.mobile-mnu
		display: block
	.booking-widget
		right: 57px
	.header-bg
		.header-bg-wrap
			margin: 0
	.video-more
		margin-top: 10px!important
	.main-menu
		ul			
			column-count: 2
			.dropdown
				position: relative
				&:before
					content: "\f0da"
					font-family: "FontAwesome"
					font-size: 1rem
					line-height: 1rem
					position: absolute
					top: 8px
					right: 10px
					color: #fff
				ul
					display: none
					position: fixed
					top: inherit
					left: 0
					bottom: 0
					width: 100%
					z-index: 99999
					background-color: #fff
					column-count: 2
					padding: 5px
					&:before
						content: ""
						position: absolute
						width: 1px
						background-color: rgba(#000,0.5)
						height: 80%
						top: 10%
						left: 50%
					li
						a
							color: #000
						&:hover
							a
								color: #fff
				&:hover, &:focus, &:active
					ul
						display: none
	.search-form
		top: 57px
		right: 0
@media only screen and (max-width : 768px) and (orientation : landscape)
	.main-menu
		margin-top: 40px
		ul
			column-count: 3
	.header
		.logo
			display: none

@media only screen and (max-width : 575px)
	.youtube
		.y-video
			margin-right: 0
	.news-single
		img
			float: left
			width: 100%
			padding: 10px 0

@media only screen and (max-width : 580px)
	.top-contact
		position: absolute
		text-align: center
		bottom: 14vh
		left: 50%
		margin-left: -190px
		li
			&:last-child
				margin-top: 0
	.events
		.event-item-last
			.event-info
				.into-text
					font-size: 0.8rem
				.publish-date
					margin-right: 0
		.event-item
			.event-info
				.into-text
					font-size: 0.8rem
		a
			.event-item
				.mask
					i
						display: none !important
		.event-info-more
			position: absolute
			top: 50%
			left: 50%
			color: #fff
			text-transform: uppercase
			font-family:  'Playfair Display', serif
			font-weight: bold
			font-size: 1rem
			line-height: 1.4rem
			margin-left: -60px
			margin-top: -11px



/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.services
		.service-info
			.service-name
				font-size: 1.2rem
			.sr1
				margin-left: -65px
			.sr2
				margin-left: -59px
			.sr3
				margin-left: -72px
			.sr4
				margin-left: -58px
			.sr5
				margin-left: -45px
			.sr6
				margin-left: -46px
			.sr7
				margin-left: -84px
			.sr9
				margin-left: -62px !important
			.sr10
				margin-left: -49px !important
			.sr11
				margin-left: -51px !important
			.sr12
				margin-left: -48px !important
			.btn-service
				font-size: 0.7rem
				margin-left: -57px
	.top-contact
		font-size: 0.8rem
		bottom: 25vh
		left: 50%
		margin-left: -121px
		padding: 0


@media only screen and (max-width : 400px)
	.gallery-folder
		.gallery-item
			a
				span
					font-size: 0.85rem
					padding-right: 5px
					padding-left: 5px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.header
		display: block !important


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

