@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.engeneers
		background-size: 70%
	.nohomepage
		.header
			.logo
				height: 34px
			.lang-select
				margin-left: 1rem
				line-height: 17px
				font-size: 0.92rem
			.header-menu
				ul
					line-height: 30px
					li
						padding-right: 0.6rem
						line-height: 30px
						a
							font-size: 0.84rem
							line-height: 30px
			a.button-small
				font-size: 0.8rem
				width: 80px
	.nohomepage
		.services
			.column
				background-size: 200%
				&:hover
					background-size: 240%


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.nohomepage
		.header
			.logo
				height: 30px
			.lang-select
				margin-left: 0.5rem
				line-height: 17px
				font-size: 0.76rem
			.header-menu
				ul
					line-height: 30px
					li
						padding-right: 0.5rem
						line-height: 30px
						a
							font-size: 0.76rem
							line-height: 30px
			a.button-small
				font-size: 0.76rem
				width: 60px
	.footer-menu
		text-align: center
		ul
			padding: 0
			list-style: none
			column-count: 4
			li
				display: inline-block
				padding: 0rem 0.5rem
	.footer-social
		text-align: right
	.polic
		text-align: left
	.copyright
		text-align: center
	.about-sec
		padding-top: 0 !important
		.container
			padding: 0 !important
			.col-lg-8.col-md-6.p0.p-md-n
				padding-top: 0 !important
		.col-lg-6.col-md-12.about-content-wrap
			padding: 0 !important
	.service-page
		.left-service-bar
			position: relative
			width: 100%
			.service-bar-item
				height: 99px
				width: 25%
				float: left
				background-color: $dark
				margin-top: 0
				border-top: 1px solid #fff
				border-left: 1px solid #fff
				&:last-child
					margin-bottom: 2rem
					border-right: 1px solid #fff
				&-icon
					position: relative
					top: 50%
					left: 50%
				&:hover
					text-decoration: none
					.service-bar-item-icon
						background-color: $accent
						border: 1px solid $accent
					.service-bar-item-title
						left: 0
						width: 100%
						opacity: 1
				&-title
					display: none
					span
						display: none
						position: relative
						top: 0
						margin-top: 0
	.text-page
		padding: 0
		.h1
			font-size: 1.8rem

@media only screen and (max-width : 900px)
	.nohomepage
		.header
			.logo
				height: 25px
			.lang-select
				margin-left: 0.5rem
				line-height: 17px
				font-size: 0.76rem
			.header-menu
				ul
					line-height: 30px
					li
						padding-right: 0.3rem
						line-height: 30px
						a
							font-size: 0.65rem
							line-height: 30px
			a.button-small
				font-size: 0.65rem
				width: 60px

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.homepage
		.header
			background-image: url("http://irlandia.adminsdw.beget.tech/template/images/bg_header_home.jpg")
			background-size: cover
			background-position: center center
	.nohomepage
		.header
			.logo
				height: 35px
	.services
		.column
			position: relative
			width: 100%
	.logo-img
		height: 32px
	.top-line
		padding-top: 20px
	.engeneers
		padding-top: 200px
		padding-bottom: 200px
		background-size: 70%
		background-position: center bottom
	.about-content-wrap
		padding-right: 15px !important
		margin-bottom: 1rem
	.news.pb2
		padding-bottom: 50px !important
	.new-project
		padding: 3rem 0
		&-container
			&-image
				display: table-row
				text-align: center
				padding-right: 0
			&-text
				display: table-row
				vertical-align: middle
				padding-left: 0
				color: #fff
				text-align: center
		.button-accent
			width: 150px
			margin: 0 auto
	.footer
		.footer-logo
			text-align: center
			padding-bottom: 1rem
		.footer-menu
			padding-bottom: 1rem
			ul
				column-count: 1
				li
					padding: 0.1rem 0.3rem
	.news-item-current
		.news-content
			max-height: 320px
	.nohomepage
		.header
			.lang-select,.header-menu,a.button-small
				display: none
	.contacts-page
		background-image: none
		padding: 0
	.p2rem
		padding: 1rem 0
	.form-group.partners .mb-xs-3
		width: 100%
	.px-lg-2,.pr-lg-2,.pl-lg-2
		padding: 0 !important
		padding-bottom: 1rem !important
	.pr-lg-2
		padding-top: 2rem !important
	.form-group.partners
		padding-bottom: 0 !important
		margin-bottom: 0 !important
	.rc-anchor-normal
		width: 286px !important
	.ajax_form.af_example .polic
		text-align: center
	.ajax_form.af_example
		padding-bottom: 1.5rem
	.nohomepage
		.services
			.column
				background-size: 110%
				&:hover
					background-size: 130%


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.services
		.column
			.service-wrap
				i
					font-size: 2rem
				p
					font-size: 1.2rem
	.footer-social
		ul
			li
				margin-right: 4px
				margin-bottom: 8px
	.polic
		line-height: 1rem
		padding-top: 1rem
		a
			line-height: 0rem
	.engeneers
		padding-top: 194px
		padding-bottom: 194px
		background-size: 91%
		background-position: center bottom
	.advantage
		&-wrap
			.icon
				display: table-row
				text-align: center
		&-content
			display: table-row
			text-align: center

	.contacts-data
		margin-bottom: 0rem
		text-align: left
		&-icon
			color: #fff
			font-size: 2rem
			i
				width: 40px
				height: 40px
				font-size: 1.5rem
				line-height: 40px
		&-desc
			font-size: 1rem
	.news-page
		.h1
			font-size: 1.8rem
		.news-page-list
			&-item
				&.p0
					padding-right: 15px !important
			&-item
				display: block
				margin-bottom: 1rem
				&:first-child
					margin-top: 1rem
				&-image
					display: block
					width: auto
				&-content
					display: block
					&-title
						font-weight: bold
						font-size: 1.1rem
						padding: 0 1rem
					&-intotext
						display: block
						font-size: 0.9rem
						line-height: 1rem
						padding: 0 1rem
					small						
						padding: 0 1rem
	.right-block.p0
		padding: 15px!important

@media only screen and (max-width : 360px)
	.engeneers
		background-size: 100%
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	.mobile-menu,.mobile-menu-btn
		display: none !important


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

