@import "fonts"
@import "vars"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.left-sidebar
	height: 100vh
	background-color: rgba(0,0,0,8)
	position: absolute
	top: 0
	bottom: 0
	left: 0
	width: 300px

@import "media"
