@import "fonts"
@import "vars"
@import "../css/import.css"

html,body
	font-size: 16px
body
	min-width: 320px
	position: relative
	line-height: 1.55
	font-family: $default-font
	overflow-x: hidden
	position: relative;
	color: $text
	font-family: "Arimo", sans-serif
	overflow: auto

/*default*/
::scrollbar
	width: 3px
	height: 3px
.img-responsive
	display: block
	max-width: 100%
	height: auto
.text-right
	text-align: right
.text-center
	text-align: center
.button
	color: #fff
	border: 1px solid #fff
	margin: 0
	padding: 8px 0
	text-align: center
	width: 150px
	transition: all 0.25s ease-in-out
	&:hover,&:focus
		background-color: $accent
		border: 1px solid $accent
		color: #fff
		text-decoration: none
.button-default
	width: 200px
	display: block
	margin: 1rem 0
.button-black
	background-color: $dark
	width: 160px
	padding: 10px 20px
	margin: 1.5rem auto
	display: block
	&:hover
		background-color: transparent
		border: 1px solid $dark
		color: $dark
.button-accent
	display: block
	background-color: $accent
	border: 1px solid $accent
	&:hover
		background-color: #fff
		border: 1px solid #fff
		color: $text
.button-light
	display: block
	margin-left: 1.5rem

section
	padding: 50px 0
.h2
	color: $accent
	font-weight: bold
	padding: 1rem 0 1rem 0
	line-height: 1rem
	margin: 0
.p0
	padding: 0 !important
.pr0
	padding-right: 0 !important
.pl0
	padding-left: 0 !important
.pb2
	padding-bottom: 100px !important
.mb
	margin-bottom: 2rem
.wb
	font-weight: bold
.p-md-n
	padding: 15px !important
.section-title
	font-size: 2rem
	border-bottom: 2px solid $accent
	font-weight: bold
	display: inline-block

/*ScrollBae*/
::-webkit-scrollbar-button
	background-repeat:no-repeat
	width: 7px
	height: 0px
::-webkit-scrollbar-track
	background-color: rgba($accent,0.4)
	border-radius: 3px
::-webkit-scrollbar-thumb
	-webkit-border-radius: 0px
	border-radius: 0px
	background-color: $accent
	border-radius: 3px
::-webkit-resizer
	background-repeat:no-repeat
	width: 6px
	height: 0px
::-webkit-scrollbar
	width: 6px

/*Header*/
.homepage
	.button-small
		float: right
.top-line
	padding: 40px 0
.lang-select
	float: right
	color: #fff
	margin: 0
	padding: 8px 0
	text-align: center
	list-style: none
	margin-right: 20px
	a
		color: #fff
		text-align: center
		padding: 5px
		&:hover,&:focus
			text-decoration: none
.logo-img
	max-height: 42px 
.dropdown-menu
	position: absolute;
	top: 100%
	left: 0
	float: none
	padding: 0
	margin: 0
	list-style: none
	background-color: #fff
	-webkit-background-clip: padding-box
	background-clip: padding-box
	border: 0
	border-radius: 0
	box-shadow: none
	background-color: transparent
	&:hover
		background-color: transparent
.dropdown-menu>li>a
	display: block
	width: 60px
	padding: 5px
	background-color: rgba(#FFF,0.3)
	text-align: center
	color: #fff
.engeneers
	background-image: url("../img/header_engineer.png")
	background-repeat: no-repeat
	background-size: 50%
	background-position: right bottom
	padding-bottom: 1rem

/*Menu*/
.header-menu
	ul
		margin: 0
		padding: 2rem 1rem 0
		list-style: none
		color: #fff
		li
			a
				color: #fff
				font-size: 1rem
				line-height: 2.5rem
				border-bottom: 2px solid transparent
				padding: 7px 0
				transition: border-bottom 0.25s ease-in-out
				&:hover,&:focus
					text-decoration: none
					border-bottom: 2px solid #fff
.mobile-menu-btn
	font-size: 1.8rem
	line-height: 1.8rem
	position: fixed
	top: 0.75rem
	right: 1.5rem
	line-height: 2rem
	background-color: $dark
	padding: 0.5rem 0.7rem
	border-radius: 0.3rem
	color: #fff
	z-index: 99
	&:hover,&:focus
		color: #fff
		text-decoration: none
.mobile-menu
	display: none
	position: fixed
	top: 0
	bottom: 0
	right: 0
	left: 0
	background-color: $dark
	z-index: 100
	.lang-select
		position: absolute
		top: 0
		left: 0
		padding: 1rem
	.mobile-menu-close
		position: absolute
		top: 0
		right: 0
		padding: 1rem 2rem
		font-size: 2.5rem
		color: #fff
		line-height: 1rem
	.mobile-header-menu
		display: block
		padding-top: 3rem
		ul
			padding: 0
			text-align: center
			list-style: none
			li
				a
					color: #fff
					font-size: 1.3rem
					padding-bottom: 0.2rem
					border-bottom: 2px solid transparent
					transition: all 0.25s ease-in-out
					&:hover,&:focus
						border-bottom: 2px solid #fff
						text-decoration: none
	.buttons-set
		padding: 0 1.5rem
		.button-default
			width: 100%
			margin-bottom: 0rem
			margin-top: 0.5rem	


/*Section About*/
.about-content-wrap
	padding-right: 0!important
.about-content
	background-color: $dark
	padding: 1.5rem
	font-size: 0.85rem
	color: #fff
.about-bg
	background-image: url("../img/4s.jpg")
	background-position: center
	background-size: cover
.advantage
	&:first-child
		margin-top: 1.5rem
	margin-bottom: 1.5rem
	&-wrap
		display: table
		.icon
			display: table-cell
			font-size: 3.3rem
			padding: 0 1rem 1rem
	&-content
		display: table-cell
		vertical-align: top
		&-title
			font-weight: bold
			display: block
			font-size: 1.3rem


/*Section Services*/
.services
	.column
		position: relative
		width: 50%
		display: inline-block
		float: left
		background-size: 100%
		background-position: center
		background-repeat: no-repeat
		transition: all 0.25s ease-in-out
		color: #fff
		&:before
			content: ""
			position: absolute
			top: 0
			bottom: 0
			right: 0
			left: 0
			background-color: rgba(55, 58, 60, 0.7)
			transition: all 0.25s ease-in-out
		&:hover
			background-size: 120%
			text-decoration: none
			&:before
				background-color: rgba(55, 58, 60, 0.5)
			.service-wrap
				i
					background-color: $accent
					border-color: $accent
		.service-wrap
			position: absolute
			top: 50%
			text-align: center
			width: 100%
			margin-top: -41px
			i
				color: #fff
				border: 1px solid #fff
				border-radius: 100%
				padding: 1rem
				font-size: 2.5rem
				line-height: 2.5rem
				transition: all 0.25s ease-in-out
			p
				padding-top: 1rem
				font-size: 1.5rem
		img
			visibility: hidden!important

/*Section News*/
.news
	background-color: $grey
.news-slider
	background-color: #fff
.news-item
	display: none
.news-item-current
	display: block
	margin: 1rem 0
	.news-image
		position: relative
		.news-tag
			position: absolute
			bottom: 0
			right: 0
			background-color: $accent
			color: #fff
			padding: 0.4rem 1rem
	.news-content
		max-height: 330px
		overflow-y: scroll
		.news-title
			font-size: 1.5rem
			font-weight: bold
		p
			font-size: 0.95rem
			line-height: 1.3rem
.news-list
	background-color: $dark
	padding-bottom: 1.5rem
	&-item
		display: block
		color: #fff
		padding: 1.5rem
		&:last-child
			display: none
		&:hover
			text-decoration: none
			color: #fff
			background-color: lighten($dark,3)
		&:focus
			text-decoration: none
			color: #fff
		.publishdon
			color: $accent
		&-title
			font-size: 1rem
			font-weight: bold
			margin: 0
		&-current			
			background-color: lighten($dark,3)
			position: relative
			&:before
				content: ""
				width: 1rem
				height: 1rem
				background-color: $dark
				position: absolute
				left: 0
				top: 50%
				left: -0.5rem
				margin-top: -0.5rem
				transform: rotate(45deg)
				background-color: lighten($dark,3)
.news-loader
	display: none
	background-image: url("http://irlandia.adminsdw.beget.tech/template/images/download.gif")
	background-size: cover
	background-position: center center

/*Section NewProject*/
.new-project
	padding: 100px 0
	&-container
		display: table
		&-image
			display: table-cell
			vertical-align: middle
			padding-right: 1rem
		&-text
			display: table-cell
			vertical-align: middle
			padding-left: 1rem
			color: #fff
			&-title
				font-size: 1.5rem
				font-weight: bold
				text-shadow: 2px 2px rgba(0, 0, 0, 0.25)
				margin-bottom: 1.3rem
			p
				margin-bottom: 1.3rem

/*Footer*/
footer
	padding: 50px 0 25px
	background-color: $dark
	color: #fff
	.copyright
		font-size: 0.65rem
		line-height: 30px
.footer-menu
	text-align: center
	ul
		padding: 0
		list-style: none
		li
			display: inline-block
			padding: 0.6rem 0.3rem
			a
				color: #fff
				padding-bottom: 0.3rem
				border-bottom: 2px solid transparent
				transition: all 0.25s ease-in-out
				&:hover,&:focus
					text-decoration: none
					border-bottom: 2px solid #fff
.footer-social
	text-align: center
	ul
		padding: 0
		list-style: none
		li
			display: inline-block
			height: 30px
			width: 30px
			border: 1px solid #858585
			vertical-align: middle
			line-height: 30px
			text-align: center
			margin-right: 0.5rem
			transition: all 0.25s ease-in-out
			&:hover
				border: 1px solid #fff
			a
				color: #858585
				display: block
				width: 100%
				height: 100%
				transition: all 0.25s ease-in-out
				&:hover,&:focus
					text-decoration: none
					color: #fff
.subsribe-text
	display: block
	padding-bottom: 0.2rem
.form-footer
	position: relative
	display: block
	input
		border-radius: 0
		width: 100%
		display: block
		outline: none !important
		&::placeholder
			color: #464a4c
			font-size: 1rem
		&:hover,&:focus
			box-shadow: none
	button
		position: absolute
		top: 0
		right: 0
		z-index: 10
		height: 34px
		width: 34px
		background-color: #c6c6c6
		border: none
		transition: all 0.25s ease-in-out
		&:hover,&:focus
			background-color: #999
		i
			color: #fff
.polic
	text-align: right
	a
		color: $accent
		font-size: 0.8rem
		line-height: 30px
.footer2col
	margin-top: 2rem


/*default*/



@import "media"
