@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.carousel-indicators .nav-item img
		margin-top: 25px
		margin-bottom: 0px
	.square-news-item
		height: 207px
	.header-sec-wrap .btn
		width: 170px
		padding-right: 30px
		padding-left: 10px
		font-size: 13px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.carousel-control.right
		background-color: #f8f7f4
		border-right: 15px solid #fff
		i
			transform: rotate(90deg)
	.carousel-control.left
		background-color: #f8f7f4
		border-left: 15px solid #fff
		i
			transform: rotate(-90deg)
	.img-responsive, .carousel-inner>.item>img, .carousel-inner>.item>a>img
		margin-bottom: 10px
	.carousel-inner
		padding: 0 0 20px
	.bus-slider-bg
		background: #fff
	.carousel-indicators
		display: none
	.news-sec.articles .big-news
		margin-top: 30px
	.news-sec .long-news
		margin-top: 30px
	news-sec.articles .long-news
		margin-top: 0px
	.flags .flag-block
		height: auto
	.header-sec
		padding-bottom: 0
	.header-sec-wrap .btn
		position: relative
		right: 0
		bottom: 0!important
		margin-bottom: 20px
	.header-sec p
		margin-bottom: 15px
	.news-sec .header-sec-wrap .btn
		margin-top: 0
	.top-footer
		&:before
			display: none
	.footer-contact-form
		margin-top: 30px
	.copyright
		padding-left: 15px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.carousel-inner .item .btn
		float: none
		width: 280px
	.square-news .square-news-wrap .square-news-item
		height: 180px
	.square-news .square-news-wrap:last-child .square-news-item
		margin-top: 30px
	.postavka-map
		display: none
	.footer-logo img
		display: block
		margin: 0 auto
	.social-links
		text-align: center
		margin-top: 15px
		margin-bottom: 15px
	.polic-link, .copyright
		display: block
		text-align: center
	.partners .btn
		margin-top: 10px
		margin-bottom: 40px

@media only screen and (max-width : 610px)
	.horns
		display: none
	.header-sec
		border: none

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.carousel-inner .item-title
		font-size: 30px
	.news-sec
		.long-news
			img
				display: none
			.long-img
				display: block
	.header-sec br
		display: none
	.navigation
		margin-top: 30px
	.footer-contact-form
		.phone-input
			margin-top: 0
	.polic-text
		width: 92%
		font-size: 13px
		line-height: 1
		margin-top: 2px
		margin-bottom: 10px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

