@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px)
	#romb7,	#romb8,	#romb9,	#romb10, #romb11, #romb12
		display: none
@media only screen and (max-width : 1200px)
	.header-home .main-menu li
		margin-left: 14px
		a
			font-size: 13px
	.main-view
		padding-bottom: 360px
	.objects .object-content .obg-street
		font-size: 20px
	.objects .object-content .obg-desc, .objects .object-item .txt
		font-size: 13px
	.objects .labels-area .obj-status
		padding: 4px 30px
		font-size: 12px
		margin-bottom: 7px
	.objects .labels-area .obj-perc,.objects .labels-area .obj-info
		width: 28px
		height: 28px
		line-height: 28px
		font-size: 12px
		margin-bottom: 7px
	.objects .labels-area .obj-perc-icon,.objects .labels-area .obj-info-icon
		width: 28px
		height: 28px
		line-height: 28px
	.objects .labels-area .obj-perc-desc,.objects .labels-area .obj-info-desc
		height: 28px
		width: 28px
		line-height: 28px
	#romb1
		left: -50%
	#romb2
		left: -23%
	#romb3
		right: -65%
	#romb4
		right: -25%
	#romb5
		right: -25%
	#romb6
		right: -47%
	.partners
		padding-bottom: 0
	.reviews-slider-wrap
		background: none
		margin-top: 0
		.reviews-slider
			.swiper-slide
				margin: 0
				height: auto
			.reviews-slider-inner
				.rotate-back
					margin-top: 0
	.reviews-button-next,
	.reviews-button-prev
		top: 50%
		margin-top: -17px
	.reviews-button-next
		right: 0
	.reviews-button-prev
		left: 0
	a.more-reviews
		position: relative
		margin-top: 30px
		margin-bottom: 30px
	.reviews-heading
		display: block

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.main-view
		background-size: auto 108%
	.mobile-menu
		display: none
	.logo-link
		display: block
		background-color: transparent
		width: auto
		height: auto
		padding-top: 15px
		padding-bottom: 15px
		padding-left: 15px
		float: left
	.hamburger
		display: block
		text-align: right
		margin-top: 30px
	.header-home
		.main-menu
			text-align: center
			column-count: 4
			margin-bottom: 15px
			li
				display: block
				margin-left: 5px
		a
			font-size: 13px
			line-height: 2
		.header-info
			text-align: center
	.main-view
		padding-bottom: 260px
		.main-view-title
			font-size: 26px
			line-height: 38px
		br
			display: none
		p
			line-height: 22px
	.filter
		margin-top: 0
		.home-filter-form label
			margin-top: 10px
	.objects .object-content .obg-desc, .objects .object-item .txt
	.objects .object-item .txt
		display: none
	.hidden-content
		display: block !important
	.objects .object-content .obg-street
		font-size: 18px
	#romb1,	#romb2,	#romb3,	#romb4,	#romb5,	#romb6
		display: none
	.buyers .coube-box-wrap
		margin: 110px auto 50px
	.about h2, .partners .h2, .news-reviews h2
		text-align: center
	.more-news
		width: 180px
		margin: 0 auto
	.coubes-wrap
		position: relative
		width: 420px
		margin: 60px auto 0
		.coube-item
			&:nth-child(1)
				margin-left: 0px
			&:nth-child(2)
				margin-top: -33px
				margin-left: 77px
			&:nth-child(3)
				margin-top: -187px
				margin-left: 154px
			&:nth-child(4)
				margin-top: -33px
				margin-left: 231px
			&:nth-child(5)
				margin-top: -188px
				margin-left: 308px
			&:nth-child(6)
				margin-top: 46px
				margin-left: 154px
	.copyright
		text-align: center
	.sitecreative, .polic
		text-align: center
		margin-bottom: 10px
		margin-top: 10px
	.sitecreative 
		margin-top: 15px
	.logo-footer
		display: none
	.footer-social-list
		width: 202px
		a
			margin: 0 !important
			display: inline-block
			margin-left: 10px !important
			&:first-child
				margin-left: 0 !important
	a.scheme
		margin-top: 23px
		width: 200px
		margin-right: auto
		margin-left: auto

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.header-home
		.main-menu
			column-count: 2
		.header-info
			margin-bottom: 20px
			li
				&:first-child
					display: block
				a
					display: block
					margin-top: 15px
					font-size: 12px
					padding: 5px 15px
	.main-view
		.main-view-title
			font-size: 21px
			line-height: 33px
	.objects .object-content .obg-desc, .objects .object-item .txt
	.objects .object-item .txt
		display: block
	.objects .object-content .obg-street
		font-size: 19px
	.coubes-wrap
		position: relative
		width: 210px
		margin: 60px auto 0
		.coube-item
			&:nth-child(1)
				margin-left: 76px
			&:nth-child(2)
				margin-top: -32px
				margin-left: 0
			&:nth-child(3)
				margin-top: -34px
				margin-left: 76px
			&:nth-child(4)
				margin-top: -32px
				margin-left: 0
			&:nth-child(5)
				margin-top: -34px
				margin-left: 76px
			&:nth-child(6)
				margin-top: -32px
				margin-left: 0
	.footer-home .top-footer .footer-list-title
		border-bottom: 0
		padding-bottom: 0
		text-align: center
	.footer-list
		margin-bottom: 15px
		padding-bottom: 15px
		border-bottom: 1px solid #6d7071
		text-align: center
		li
			display: inline-block
			margin-right: 15px

@media only screen and (max-width : 600px)
	.buyers
		.coube-box-wrap
			margin: 110px auto 50px
			width: 300px
			.coube-box-item
				&:nth-child(1)
					margin-left: 80px
				&:nth-child(2)
					margin-top: -45px
					margin-left: -25px
				&:nth-child(3)
					margin-top: -150px
					margin-left: 185px
				&:nth-child(4)
					margin-top: -45px
					margin-left: 80px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 479px)
	.reviews-slider .swiper-slide .person-message
		padding: 0 40px
	.header-home
		.main-menu
			column-count: 1
	.main-view
		.main-view-title
			font-size: 16px
			line-height: 28px
	.filter-title
		display: block
		text-align: center
	.filter-map
		float: none
		margin-top: 0
		width: 136px
		display: block
		margin: 0 auto 10px
	.objects .object-item .txt
		display: none
	.objects .object-content .obg-street
		font-size: 15px
		padding-right: 30px
	.buyers
		.coube-box-wrap
			margin: 80px auto 0px
			width: 272px
			.coube-box-item
				width: 136px
				height: 136px
				transform: rotate(0deg)
				&:nth-child(1)
					margin-left: 0px
				&:nth-child(2)
					margin-top: -136px
					margin-left: 136px
				&:nth-child(3)
					margin-top: 0px
					margin-left: 0px
				&:nth-child(4)
					margin-top: -136px
					margin-left: 136px
				&-inner
					transform: rotate(0deg) translate(-50%,-50%)
				&:hover
					transform: rotate(0deg)
				p
					font-size: 13px
	.coubes-wrap
		position: relative
		width: 155px
		margin: 50px auto 0
		.coube-item-inner-desc
			font-size: 10px
		.coube-item-inner-number
			font-size: 16px
			span
				font-size: 12px
		.coube-item
			width: 90px
			height: 90px
			&:nth-child(1)
				margin-left: 62px
			&:nth-child(2)
				margin-top: -28px
				margin-left: 0
			&:nth-child(3)
				margin-top: -26px
				margin-left: 63px
			&:nth-child(4)
				margin-top: -26px
				margin-left: 0
			&:nth-child(5)
				margin-top: -26px
				margin-left: 63px
			&:nth-child(6)
				margin-top: -27px
				margin-left: 0
	.logo-footer
		display: block
		margin-top: 15px


@media only screen and (max-width : 400px)
	// 


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.mobile-menu
		display: block !important
	.hamburger
		display: none !important
	.hamburger-wrap
		display: none !important


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

