@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	.header-home .main-menu li
		margin-left: 14px
		a
			font-size: 13px
	.main-view
		padding-bottom: 360px
	.objects .object-content .obg-street
		font-size: 20px
	.objects .object-content .obg-desc, .objects .object-item .txt
		font-size: 13px
	.objects .labels-area .obj-status
		padding: 4px 30px
		font-size: 12px
		margin-bottom: 7px
	.objects .labels-area .obj-perc,.objects .labels-area .obj-info
		width: 28px
		height: 28px
		line-height: 28px
		font-size: 12px
		margin-bottom: 7px
	.objects .labels-area .obj-perc-icon,.objects .labels-area .obj-info-icon
		width: 28px
		height: 28px
		line-height: 28px
	.objects .labels-area .obj-perc-desc,.objects .labels-area .obj-info-desc
		height: 28px
		width: 28px
		line-height: 28px
	#romb1
		left: -50%
	#romb2
		left: -23%
	#romb3
		right: -65%
	#romb4
		right: -25%
	#romb5
		right: -25%
	#romb6
		right: -47%

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	.main-view
		background-size: auto 108%
	.mobile-menu
		display: none
	.logo-link
		display: block
		background-color: transparent
		width: auto
		height: auto
		padding-top: 15px
		padding-bottom: 15px
		padding-left: 15px
		float: left
	.hamburger
		display: block
		text-align: right
		margin-top: 30px
	.header-home
		.main-menu
			text-align: center
			column-count: 4
			margin-bottom: 15px
			li
				display: block
				margin-left: 5px
		a
			font-size: 13px
			line-height: 2
		.header-info
			text-align: center
	.main-view
		padding-bottom: 260px
		.main-view-title
			font-size: 26px
			line-height: 38px
		br
			display: none
		p
			line-height: 22px
	.filter
		margin-top: 0
		.home-filter-form label
			margin-top: 10px
	.objects .object-content .obg-desc, .objects .object-item .txt
	.objects .object-item .txt
		display: none
	.hidden-content
		display: block !important
	.objects .object-content .obg-street
		font-size: 18px
	#romb1,	#romb2,	#romb3,	#romb4,	#romb5,	#romb6
		display: none
	.buyers .coube-box-wrap
		margin: 110px auto 50px
	.about h2, .partners .h2
		text-align: center

/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	.header-home
		.main-menu
			column-count: 2
		.header-info
			margin-bottom: 20px
			li
				&:first-child
					display: block
				a
					display: block
					margin-top: 15px
					font-size: 12px
					padding: 5px 15px
	.main-view
		.main-view-title
			font-size: 21px
			line-height: 33px
	.objects .object-content .obg-desc, .objects .object-item .txt
	.objects .object-item .txt
		display: block
	.objects .object-content .obg-street
		font-size: 19px

@media only screen and (max-width : 600px)
	.buyers
		.coube-box-wrap
			margin: 110px auto 50px
			width: 300px
			.coube-box-item
				&:nth-child(1)
					margin-left: 80px
				&:nth-child(2)
					margin-top: -45px
					margin-left: -25px
				&:nth-child(3)
					margin-top: -150px
					margin-left: 185px
				&:nth-child(4)
					margin-top: -45px
					margin-left: 80px


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.header-home
		.main-menu
			column-count: 1
	.main-view
		.main-view-title
			font-size: 16px
			line-height: 28px
	.filter-title
		display: block
		text-align: center
	.filter-map
		float: none
		margin-top: 0
		width: 136px
		display: block
		margin: 0 auto 10px
	.objects .object-item .txt
		display: none
	.objects .object-content .obg-street
		font-size: 15px
		padding-right: 30px
	.buyers
		.coube-box-wrap
			margin: 80px auto 0px
			width: 272px
			.coube-box-item
				width: 136px
				height: 136px
				transform: rotate(0deg)
				&:nth-child(1)
					margin-left: 0px
				&:nth-child(2)
					margin-top: -136px
					margin-left: 136px
				&:nth-child(3)
					margin-top: 0px
					margin-left: 0px
				&:nth-child(4)
					margin-top: -136px
					margin-left: 136px
				&-inner
					transform: rotate(0deg) translate(-50%,-50%)
				&:hover
					transform: rotate(0deg)
				p
					font-size: 13px


@media only screen and (max-width : 400px)
	// 


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.mobile-menu
		display: block !important
	.hamburger
		display: none !important
	.hamburger-wrap
		display: none !important


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

