@media only screen and (max-width : 1200px)
	.filter-list
		text-align: center

@media only screen and (max-width : 992px)
	.navigation
		position: relative
		background-image: none
		background-color: $blue
		width: auto
		.logo
			img
				width: 70px
				padding-top: 10px
				padding-bottom: 10px
		.main-menu
			display: none
			text-align: center
			padding-bottom: 10px
			li
				display: inline-block
				&.active,&:hover
					a
						background-color: transparent
						span
							border-bottom: 1px solid #fff
				a
					width: auto
					font-size: inherit
					text-decoration: none
					padding-right: 14px
					padding-left: 14px
					padding-bottom: 5px
					i
						display: none
			span
				display: block
				position: relative
				z-index: 0
				left: autos
				left: 0
				right: 0
				top: 0
				bottom: 0
				line-height: 1.2
				padding: 0
				color: #fff
				background-color: transparent
				border-bottom: 1px solid transparent
	.menu-btn
		display: block
	.wrapper
		padding-left: 15px !important
	.footer
		margin-left: 0
		text-align: center
		.sitecreative
			text-align: center
		.polic
			margin: 10px 0

@media only screen and (min-width : 992px)
	.navigation
		.main-menu
			display: block !important