
.icon-newspaper1:before { content: '\e800'; } /* '' */
.icon-percent:before { content: '\e801'; } /* '' */
.icon-phone-call2:before { content: '\e802'; } /* '' */
.icon-placeholder-filled-point:before { content: '\e803'; } /* '' */
.icon-plans:before { content: '\e804'; } /* '' */
.icon-telephone:before { content: '\e805'; } /* '' */
.icon-location:before { content: '\e806'; } /* '' */
.icon-arrow-pointing-to-right:before { content: '\e807'; } /* '' */
.icon-back:before { content: '\e808'; } /* '' */
.icon-check-form:before { content: '\e809'; } /* '' */
.icon-clock:before { content: '\e80a'; } /* '' */
.icon-down-arrow-triangle-outline:before { content: '\e80b'; } /* '' */
.icon-map-pin-silhouette:before { content: '\e80c'; } /* '' */
.icon-menu-of-three-lines:before { content: '\e80d'; } /* '' */
.icon-musica-searcher:before { content: '\e80e'; } /* '' */
.icon-newspaper:before { content: '\e80f'; } /* '' */
.icon-percentage-discount:before { content: '\e810'; } /* '' */
.icon-phone-call:before { content: '\e811'; } /* '' */
.icon-photo-camera:before { content: '\e812'; } /* '' */
.icon-photo-camera-outline:before { content: '\e813'; } /* '' */
.icon-zoom-in:before { content: '\e814'; } /* '' */
.icon-building:before { content: '\e815'; } /* '' */
.icon-city:before { content: '\e816'; } /* '' */
.icon-construction-crane:before { content: '\e817'; } /* '' */
.icon-house:before { content: '\e818'; } /* '' */
.icon-image:before { content: '\e819'; } /* '' */
.icon-key:before { content: '\e81a'; } /* '' */
.icon-loft-building:before { content: '\e81b'; } /* '' */