@media only screen and (max-width : 1590px) {
	.item-txt {
		position: absolute;
		top: 30%;
		left: 54%;
		background-color: rgba(#fff,.75);
		box-shadow: 0px 5px 20.88px 3.12px rgba(0, 0, 0, 0.15);
		border-radius: 50%;
		width: 250px;
		height: 250px;
		&-align {
			position: absolute;
			top: 50%;
			left: 25%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 390px;
		}
		span {
			display: block;
			&.slide-header {
				font-size: rem(30);
				font-weight: 700;
				color: $accent-color;
			}
			&.slide-content {
				font-size: rem(16);
				margin-bottom: 1rem;
			}
		}
		.slide-btn {
			background-color: #27b0ea;
			padding: .6rem 1rem;
			color: #fff;
			border-radius: 1rem;
			line-height: 1rem;
			text-decoration: none;
			@include transition(opacity,.25s);
			&:hover {
				text-decoration: none;
				opacity: .7;
			}
		}
	}
}

@media only screen and (max-width : 1500px) {
	.location {
		&-wrap {
			font-size: rem(20);
			line-height: rem(20);
			i {
				font-size: rem(26);
				line-height: rem(26);
				&:first-child {
					font-size: rem(46);
					line-height: rem(46);
				}
			}

		}
	}
	.cont-footer {
		padding: 0 1rem !important;
	}
}

@media only screen and (max-width : 1340px) {
	.item-txt {
		position: absolute;
		top: 30%;
		left: 54%;
		background-color: rgba(#fff,.75);
		box-shadow: 0px 5px 20.88px 3.12px rgba(0, 0, 0, 0.15);
		border-radius: 50%;
		width: 200px;
		height: 200px;
		&-align {
			position: absolute;
			top: 50%;
			left: 25%;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			width: 390px;
		}
		span {
			display: block;
			&.slide-header {
				font-size: rem(26);
				font-weight: 700;
				color: $accent-color;
			}
			&.slide-content {
				font-size: rem(14);
				margin-bottom: .8rem;
			}
		}
		.slide-btn {
			background-color: #27b0ea;
			padding: .5rem 1rem;
			color: #fff;
			border-radius: 1rem;
			line-height: 1rem;
			font-size: rem(12);
			@include transition(opacity,.25s);
			&:hover {
				text-decoration: none;
				opacity: .7;
			}
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	#contact-map {
		height: 500px;
	}
	.page-header {
		margin-top: 30px;
	}
	.contact-block {
		font-size: rem(14);
	}
	.logo-img {
		position: relative;
		display: inline-block;
		float: left;
		padding: 0;
		img {
			display: none;
			padding: 1rem;
			height: 100px;
			&:last-child {
				display: block;
			}
		}
	}
	section.slider {
		display: none;
	}
	.location {
		width: 17vw;
		height: 17vw;
		&-wrap {
			font-size: rem(20);
			line-height: rem(20);
			i {
				font-size: rem(26);
				line-height: rem(26);
				&:first-child {
					font-size: rem(46);
					line-height: rem(46);
				}
			}

		}
	}
	.cont-footer {
		padding: 0 !important;
	}
	.top-menu {
		display: none;
	}
	.sidebar-menu {
		ul {
			width: 203px;
			margin: 3rem auto 0;
			padding: 1rem 0;
			list-style-type: none;
			li {
				&:before {
					display: none;
				}
				padding-left: 0;
				position: relative;
				padding-left: 3.2rem;
				a {
					text-decoration: none;
					color: $default-color;
					line-height: 3rem;
					display: block;
					@include transition(color, .25s);
					font-size: .9rem;
					&:hover {
						color: #fff;
					}
				}
			}
		}
		i {
			font-size: 1.8rem;
			width: 92px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.mobile-menu {
		display: none;
		background-image: url(../img/pattern-menu.jpg);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.mobile-menu .social-link {
		position: absolute;
		bottom: 2rem;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%);
		width: 203px;
		border-top: 1px solid #fff;
		padding-top: 1rem;
		text-align: center;
	}
	.marg {
		height: 100px;
	}
	.close-menu {
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		padding: 1rem;
	}
	.sidebar {
		box-shadow: 0px 4px 10px rgba(#000,.1);
	}
	.contact-form-header {
		font-size: rem(20);
	}
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.contact-form {
		.form-group {
			textarea {
				max-width: 100%;
				min-width: 100%;
				resize: auto;
			}
		}
	}
	.contact-form .left-col .form-group {
		margin-right: 0;
	}
	#contact-map {
		height: 400px;
	}
	.contact-block {
		height: auto;
		font-size: rem(18);
	}
	.map-cover {
		display: none;
	}
	#map {
		height: 400px;
		width: 100%;
		margin-left: 0;
		margin-top: 0;
	}
	.location {
		display: none;
	}
	ul.full-width{
		width: 100%;
		text-align: center;
		li {
			width: 50%;
			padding-left: 0;
			&:before {
				display: none;
			}
		}
		.text-left,.text-right {
			text-align: center !important;
		}
		&:last-child {
			margin-top: 1rem;
		}
	}
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.logo-img {
		position: relative;
		display: inline-block;
		float: left;
		padding: 0;
		img {
			display: none;
			padding: 1rem;
			height: 80px;
			&:last-child {
				display: block;
			}
		}
	}
	.footer-menu {
		text-align: center;
	}
	.social-link {
		margin-top: 1rem;
		text-align: center;
	}
	.map-complex {
		display: none;
	}
	.menu-btn {
		margin-right: 2rem;
	}
	.sidebar {
		height: 80px !important;
	}
	.time-work {
		line-height: 80px;
	}
	.menu-btn {
		margin: 26px 2rem 26px 1rem;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 576px) {

	.contact-form-header {
		font-size: rem(17);
	}	
	.contact-block {
		font-size: rem(16);
	}
	section.events {
		.event-item {
			.wrap-img {
				.label {
					width: 130px;
					height: 130px;
					line-height: 130px;
				}
			}
		}
	}
	ul.full-width{
		width: 100%;
		text-align: center;
		li {
			&:before {
				display: none;
			}
			padding-left: 0;
			width: 100%;
			display: block;
			margin-top: 1.5rem;
		}
		.text-left,.text-right {
			text-align: center !important;
		}
		&:last-child {
			margin-top: 0;
			li {
				margin-bottom: .5rem;
			}
		}
		&:first-child {
			li:first-child {
				margin-top: 0;				
			}
			margin-top: 0;
		}
	}
	.owl-nav {
		display: none;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 496px) {
	.polic-form {
		top: 0;
	}
	.arenda-form {
		.form-button {
			margin-bottom: 10px;
		}
	}
}
@media only screen and (max-width : 480px) {
	.time-work {
		display: none;
	}
	.menu-btn {
		margin: 26px 1.5rem 26px 1rem;
	}
	.footer-menu {
		li {
			margin-right: 1rem;
		}
	}
	a#about,a#carier,a#team,a#ad {
		margin-bottom: 10px;
		margin-right: 5px;
		padding-right: 10px;
		padding-left: 10px;
	}
	.nohomepage nav.nav.nav-tabs {
		margin-bottom: -20px;
	}
}


@media only screen and (max-width : 400px) {
	section.events {
		.event-item {
			.wrap-img {
				.label {
					width: 100px;
					height: 100px;
					line-height: 100px;
				}
			}
		}
	}
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 340px) {
	.footer-menu {
		li {
			margin-right: 5px;
		}
	}
}


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	/**/
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	/**/
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	/**/
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	/**/
}


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	body {
		background-image: url(../img/bg.png);
	}
	.wrapper {
		display: table;
		table-layout: fixed;
	}
	.left-sidebar,.content {
		display: table-cell;
	}
	.left-sidebar {
		width: 267px;
	}
	.sidebar {
		position: fixed;
		width: 267px;
		left: 0;
		top: 0;
		min-height: 100%;
		background-color:  rgba(255, 255, 255, 0.25);
		-webkit-box-shadow: 0px 0px 117px 0px rgba(0, 0, 0, 0.16);
		box-shadow: 0px 0px 117px 0px rgba(0, 0, 0, 0.16);
		z-index: 100;
		&-logo {
			background-image: url(../img/logo_wrap.svg);
			-webkit-background-size: cover;
			background-size: cover;
			width: 415px;
			height: 246px;
			pointer-events: none;
		}
	}
	.time-work {
		text-align: center;
		width: 203px;
		margin: 2.5rem auto 1.9rem;
		border-top: 1px solid #d8d8d8;
		border-bottom: 1px solid #d8d8d8;
		font-weight: 700;
		line-height: 3.5rem;
		float: none;
	}

	.sidebar-menu {
		width: 203px;
		margin: 0 auto;
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			li {
				padding-left: 0;
				position: relative;
				padding-left: 3.2rem;
				&:before {
					display: none;
				}
				a {
					text-decoration: none;
					color: $default-color;
					line-height: 3.4rem;
					display: block;
					@include transition(color, .25s);
					&:hover {
						color: $accent-color;
					}
				}
			}
		}
		i {
			font-size: 2rem;
			width: 92px;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.sidebar-menu {
		display: block;
	}
	.sidebar .social-link {
		display: none;
	}
	.sidebar {
		.menu-btn, .map-complex, .close-menu {
			display: none;
		}
	}
	.mobile-menu {
		display: block !important;
	}
}
