@import "mixins";
@import "vars";

body, html {
	padding: 0;
	margin: 0;
	font-size: $default-size;
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	font-weight: normal;
	color: $default-color;
	overflow-x: hidden;
	background-image: none;
	background-size: 100%;
	background-repeat: repeat-y;
}

.left-sidebar {
	display: block;
}
.sidebar {
	position: relative;
	height: 100px;
	background-color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}
.sidebar-logo {
	display: block;
	float: left;
}
.logo-img {
	position: absolute;
	top: 0;
	left: 0;
	padding: .7rem 1.3rem;
	img {
		&:last-child {
			display: none;
		}
	}
}

.menu-btn {
	float: right;
	display: block;
	background-color: transparent;
	border: none;
	cursor: pointer;
	width: 30px;
	height: 30px;
	position: relative;
	margin-top: 35px;
	span {
		display: block;
		height: 3px;
		background-color: #2b9bca;
		width: 30px;
		position: absolute;
		left: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		&:before {
			content: "";
			position: absolute;
			height: 3px;
			top: -14px;
			left: 0;
			width: 100%;
			background-color: #2b9bca;
		}
		&:after {
			content: "";
			position: absolute;
			height: 3px;
			top: 14px;
			left: 0;
			width: 100%;
			background-color: #2b9bca;
		}
	}
}
.map-complex {
	text-decoration: none;
	display: block;
	float: right;
	background: -webkit-linear-gradient(113deg, #9ddf8b 13%, #74cfbe 50%, #4dbfef 86%);
	background: -moz-linear-gradient(113deg, #9ddf8b 13%, #74cfbe 50%, #4dbfef 86%);
	background: -o-linear-gradient(113deg, #9ddf8b 13%, #74cfbe 50%, #4dbfef 86%);
	background: -ms-linear-gradient(113deg, #9ddf8b 13%, #74cfbe 50%, #4dbfef 86%);
	background: linear-gradient(-23deg, #9ddf8b 13%, #74cfbe 50%, #4dbfef 86%);
	border-radius: 2rem 0 0 2rem;
	padding-left: .7rem;
	padding-right: .5rem;
	font-weight: 500;
	margin-left: 1.5rem;
	color: $default-color;
	line-height: 2.5rem;
	margin-top: 31px;
	i {
		font-size: 1rem;
	}
	@include transition(color, .25s);
	&:hover {
		color: #fff;
		text-decoration: none;
	}

}

.top-menu {
	width: 100%;
	text-align: right;
	margin-top: 2rem;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
	ul {
		list-style: none;
		padding-left: 1rem;
		display: inline-block;
		border-radius: 1.3rem 0 0 1.3rem;
		li {
			padding-left: 0;
			&:before {
				display: none;
			}
			display: inline-block;
			a {
				display: block;
				color: $default-color;
				text-decoration: none;
				line-height: 2.5rem;
				padding: 0 1rem;
				position: relative;
				@include transition(color, .25s);
				&:hover {
					color: $accent-color;
				}
				i {
					position: absolute;
					top: 0;
					left: .7rem;
					font-size: 1.3rem;
				}
			}
			&:first-child a {
				padding-left: 0;
			}
			&:last-child a {
				background: -webkit-linear-gradient(113deg, #9ddf8b 13%, #74cfbe 50%, #4dbfef 86%);
				background: -moz-linear-gradient(113deg, #9ddf8b 13%, #74cfbe 50%, #4dbfef 86%);
				background: -o-linear-gradient(113deg, #9ddf8b 13%, #74cfbe 50%, #4dbfef 86%);
				background: -ms-linear-gradient(113deg, #9ddf8b 13%, #74cfbe 50%, #4dbfef 86%);
				background: linear-gradient(-23deg, #9ddf8b 13%, #74cfbe 50%, #4dbfef 86%);
				border-radius: 2rem 0 0 2rem;
				padding-left: 2.7rem;
				font-weight: 500;
				margin-left: 1.5rem;
				&:hover {
					color: $white;
				}
			}
		}
	}
}

.wrapper {
	width: 100%;
}

.item-wrap {
	padding: 0 29% 0 6%;
	position: relative;
}

.item-txt {
	position: absolute;
	top: 30%;
	left: 54%;
	background-color: rgba(#fff,.75);
	box-shadow: 0px 5px 20.88px 3.12px rgba(0, 0, 0, 0.15);
	border-radius: 50%;
	width: 315px;
	height: 315px;
	&-align {
		position: absolute;
		top: 50%;
		left: 25%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 440px;
	}
	span {
		display: block;
		&.slide-header {
			font-size: rem(40);
			font-weight: 700;
			color: $accent-color;
		}
		&.slide-content {
			font-size: rem(18);
			margin-bottom: 1rem;
		}
	}
	.slide-btn {
		background-color: #27b0ea;
		padding: .6rem 1rem;
		color: #fff;
		border-radius: 1rem;
		line-height: 1rem;
		text-decoration: none;
		@include transition(opacity,.25s);
		&:hover {
			text-decoration: none;
			opacity: .7;
		}
	}
}

.carousel-indicators {
	position: absolute;
	bottom: 7%;
	left: -14%;
	li {
		background-color: #fff;
		height: 18px;
		width: 18px;
		border-radius: 50%;
		cursor: pointer;
		&.active {
			background-color: $accent-color;
			-webkit-transform: scale(1.2);
			-ms-transform: scale(1.2);
			-o-transform: scale(1.2);
			transform: scale(1.2);
		}
	}
}