@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&subset=cyrillic");
@import url("../fonts/icons/css/sk.css");
body {
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.65;
  font-family: "Montserrat", sans-serif;
  color: #393939;
  overflow-x: hidden; }

* {
  outline: 0; }

.mb-30 {
  margin-bottom: 30px; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  display: block; }

.h2 {
  font-size: 24px;
  font-weight: 500; }

p {
  margin-bottom: 10px; }

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto; }

.navigation {
  background-color: #ccc;
  position: fixed;
  top: 0;
  left: 0;
  width: 90px;
  height: 100%;
  z-index: 10;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ab232f), color-stop(10%, #ab232f), color-stop(90%, #004c97));
  background-image: -webkit-linear-gradient(bottom, #ab232f 0%, #ab232f 10%, #004c97 90%);
  background-image: -o-linear-gradient(bottom, #ab232f 0%, #ab232f 10%, #004c97 90%);
  background-image: linear-gradient(to top, #ab232f 0%, #ab232f 10%, #004c97 90%); }

.main-menu {
  min-height: auto; }

.logo img {
  padding: 20px 15px;
  display: block;
  max-width: 100%;
  height: auto; }

body .wrapper {
  padding-left: 90px; }

body.all-complex .wrapper {
  padding-left: 105px;
  padding-right: 15px; }

.main-menu li.active a {
  background-color: #fff;
  color: blue;
  pointer-events: none; }
  .main-menu li.active a:hover span {
    display: none; }

.main-menu a {
  position: relative;
  color: #fff;
  font-size: 28px;
  display: block;
  width: 90px;
  text-align: center;
  padding: 10px 0;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }
  .main-menu a:hover span {
    left: 0;
    color: #fff; }

.main-menu span {
  position: absolute;
  color: transparent;
  font-size: 15px;
  top: 0;
  left: -500px;
  height: 100%;
  background-color: #2a2c2f;
  z-index: -1;
  padding: 0 25px 0 80px;
  overflow-wrap: word-break;
  line-height: 66px;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease; }

.menu-btn {
  display: none;
  float: right;
  color: #fff;
  font-size: 30px;
  padding: 11px 20px 11px 11px;
  cursor: pointer; }

.wrapper-header {
  padding: 20px 0 0; }

.h1-wrapper-header {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle; }
  .h1-wrapper-header i {
    color: #1b4e9b;
    font-size: 30px;
    line-height: 1; }

.filter-map {
  border: 1px solid #989898;
  font-weight: 500;
  padding: 4px 15px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  color: #393939;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease; }
  .filter-map i {
    color: #1b4e9b;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease; }
  .filter-map:hover {
    text-decoration: none;
    color: #fff;
    border-color: #1b4e9b;
    background-color: #1b4e9b; }
    .filter-map:hover i {
      color: #fff; }

.filter-list {
  text-align: right;
  margin: 0;
  padding: 0;
  margin-top: 3px; }
  .filter-list li {
    display: inline-block;
    vertical-align: middle;
    margin: 0.67em 0 auto;
    margin-left: 4px; }
    .filter-list li:first-child {
      margin-left: 0; }
    .filter-list li .filter {
      border: 1px solid #989898;
      font-weight: 500;
      padding: 4px 30px;
      -webkit-border-radius: 20px;
              border-radius: 20px;
      display: inline-block;
      color: #393939;
      cursor: pointer;
      text-decoration: none;
      -webkit-transition: all .25s ease;
      -o-transition: all .25s ease;
      transition: all .25s ease; }
      .filter-list li .filter.active, .filter-list li .filter:hover {
        background-color: #1b4e9b;
        color: #fff;
        border-color: #1b4e9b; }

.filter-objects-list .filter-object-item {
  display: none; }

.objects {
  background-color: #fff;
  z-index: 1;
  padding: 20px 0 0; }
  .objects .object-item {
    position: relative;
    overflow: hidden; }
    .objects .object-item .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.65)));
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.25) 30%, rgba(0, 0, 0, 0.65) 100%);
      background-image: -o-linear-gradient(rgba(0, 0, 0, 0.25) 30%, rgba(0, 0, 0, 0.65) 100%);
      background-image: linear-gradient(rgba(0, 0, 0, 0.25) 30%, rgba(0, 0, 0, 0.65) 100%); }
    .objects .object-item .txt {
      margin-bottom: 15px; }
    .objects .object-item a {
      color: #fff;
      text-decoration: none; }
      .objects .object-item a.count-house {
        background-color: #fff;
        color: #393939;
        padding: 6px 15px;
        -webkit-border-radius: 15px;
                border-radius: 15px;
        margin-right: 10px;
        border: 1px solid transparent;
        -webkit-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease; }
        .objects .object-item a.count-house:hover {
          background-color: transparent;
          color: #fff;
          border: 1px solid #fff; }
      .objects .object-item a.call-btn {
        padding: 6px;
        border: 1px solid #fff;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        -webkit-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease; }
        .objects .object-item a.call-btn:hover {
          background-color: #fff;
          color: #393939;
          border: 1px solid transparent; }
  .objects .labels-area {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
    font-weight: 500;
    z-index: 1; }
    .objects .labels-area .obj-status {
      background-color: #1b4e9b;
      padding: 6px 30px;
      -webkit-border-radius: 15px;
              border-radius: 15px;
      margin-bottom: 10px; }
      .objects .labels-area .obj-status.works {
        background-color: #783049; }
    .objects .labels-area .obj-perc {
      float: right;
      width: 35px;
      height: 35px;
      right: 0;
      margin-bottom: 10px; }
      .objects .labels-area .obj-perc-icon {
        display: block;
        position: absolute;
        line-height: 35px;
        width: 100%;
        text-align: center;
        width: 35px;
        height: 35px;
        background-color: #c6292b;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        z-index: 1; }
      .objects .labels-area .obj-perc-desc {
        position: absolute;
        background-color: #c6292b;
        -webkit-border-radius: 18px;
                border-radius: 18px;
        right: 0;
        line-height: 35px;
        padding-left: 15px;
        width: 35px;
        height: 35px;
        overflow: hidden;
        z-index: 0;
        -webkit-transition: width .25s ease;
        -o-transition: width .25s ease;
        transition: width .25s ease; }
      .objects .labels-area .obj-perc:hover .obj-perc-desc {
        width: 260px; }
    .objects .labels-area .obj-info {
      float: right;
      margin-bottom: 10px;
      width: 35px;
      height: 35px;
      right: 0; }
      .objects .labels-area .obj-info-icon {
        display: block;
        position: absolute;
        line-height: 35px;
        width: 100%;
        text-align: center;
        width: 35px;
        height: 35px;
        background-color: #009744;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        z-index: 1; }
      .objects .labels-area .obj-info-desc {
        position: absolute;
        background-color: #009744;
        -webkit-border-radius: 18px;
                border-radius: 18px;
        right: 0;
        line-height: 35px;
        padding-left: 15px;
        width: 35px;
        height: 35px;
        overflow: hidden;
        z-index: 0;
        -webkit-transition: width .25s ease;
        -o-transition: width .25s ease;
        transition: width .25s ease; }
      .objects .labels-area .obj-info:hover .obj-info-desc {
        width: 260px; }
  .objects .object-content {
    position: absolute;
    left: 15px;
    bottom: 15px;
    right: 15px;
    color: #fff; }
    .objects .object-content .obg-street {
      font-weight: 500;
      font-size: 24px; }
    .objects .object-content .obg-desc {
      margin-bottom: 10px; }
    .objects .object-content .hidden-content {
      display: none; }

.footer {
  padding: 10px;
  background-color: #a82430;
  color: #fff;
  margin-left: 90px; }
  .footer a {
    color: #fff;
    display: block; }
  .footer .polic {
    text-align: center; }
  .footer .sitecreative {
    text-align: right; }
    .footer .sitecreative a {
      display: inline-block;
      text-decoration: underline; }
      .footer .sitecreative a:hover, .footer .sitecreative a:focus {
        text-decoration: none; }

@media only screen and (max-width: 1200px) {
  .filter-list {
    text-align: center; } }

@media only screen and (max-width: 992px) {
  .navigation {
    position: relative;
    background-image: none;
    background-color: #1b4e9b;
    width: auto; }
    .navigation .logo img {
      width: 70px;
      padding-top: 10px;
      padding-bottom: 10px; }
    .navigation .main-menu {
      display: none;
      text-align: center;
      padding-bottom: 10px; }
      .navigation .main-menu li {
        display: inline-block; }
        .navigation .main-menu li.active a, .navigation .main-menu li:hover a {
          background-color: transparent; }
          .navigation .main-menu li.active a span, .navigation .main-menu li:hover a span {
            border-bottom: 1px solid #fff; }
        .navigation .main-menu li a {
          width: auto;
          font-size: inherit;
          text-decoration: none;
          padding-right: 14px;
          padding-left: 14px;
          padding-bottom: 5px; }
          .navigation .main-menu li a i {
            display: none; }
      .navigation .main-menu span {
        display: block;
        position: relative;
        z-index: 0;
        left: autos;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        line-height: 1.2;
        padding: 0;
        color: #fff;
        background-color: transparent;
        border-bottom: 1px solid transparent; }
  .menu-btn {
    display: block; }
  .wrapper {
    padding-left: 15px !important; }
  .footer {
    margin-left: 0;
    text-align: center; }
    .footer .sitecreative {
      text-align: center; }
    .footer .polic {
      margin: 10px 0; } }

@media only screen and (min-width: 992px) {
  .navigation .main-menu {
    display: block !important; } }
